{% if mfile.file %}

    <h3>Preview</h3>

    <iframe
      width="96%"
      height="500"
      id="video_iframe"
      marginheight="0"
      frameborder="0"
      onLoad="calcHeight();"
      src="/mediaplayer/{{mfile.id}}/"  >
    </iframe>

    <script type="text/javascript">
    <!--
    function calcHeight()
    {
      //find the height of the internal page
      var the_height=document.getElementById('video_iframe').contentWindow.document.body.scrollHeight;
      the_height = the_height + 50
      //change the height of the iframe
      $('#video_iframe').attr("height",the_height);

    }
    //-->
    </script>

{% endif %}