<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js">
</script>

{% if mfile.file %}
    <!--<p id="container1">Please install the Flash Plugin</p>

    <script type="text/javascript" language="javascript">

        //var flashvars = { file:"{{mfile.proxyurl}}/",image:"{{mfile.posterurl}}",autostart:"false" };
        //var params = { allowfullscreen:"true", allowscriptaccess:"always" };
        //var attributes = { id:"player1", name:"player1" };
        //swfobject.embedSWF("/mservemedia/js/player.swf","container1","480","270","9.0.115","false",flashvars, params, attributes);

    </script>-->

    <video width="640" height="360" src="{{mfile.proxyurl}}" poster="{{mfile.posterurl}}" autobuffer="True" controls="True"  >
        <div class="fallback">
                <p>You must have an HTML5 capable browser.</p>
            </div>
    </video>

{% endif %}