{% extends "base.html" %}
{% load mservetags %}

{% block title %}MServe File{% endblock %}

{% if "getusagesummary" in methods %}

    {% block usages %}
                <span>Name:&nbsp;<em class="sm">{{mfile.name|trunc:20}}</em>&nbsp;</span>
                <span>Mimetype:&nbsp;<em class="sm">{{mfile.mimetype}}</em>&nbsp;</span>
                <span>Created:&nbsp;<em class="sm">{{mfile.created|date}},&nbsp;{{mfile.created|time}}</em>&nbsp;</span>
                <span>Updated:&nbsp;<em class="sm">{{mfile.updated|date}},&nbsp;{{mfile.updated|time}}</em>&nbsp;</span>
                <span>Size:&nbsp;<em class="sm">{{mfile.size|filesizeformat}}</em>&nbsp;</span>
    {% endblock %}

{% endif %}

{% block content %}

<h2>Auth </h2>
<p>{{ auth }}</p>

<div id="tabs">

    <ul>
            <li><a href="#tabs-1">Data</a></li>
            <li><a href="#tabs-2">Access Control</a></li>
            <li><a href="#tabs-3">Usage</a></li>

    </ul>

    <div id="tabs-1">

        <table>

            <tr><td>{% include "auths/details_auth.html" %}</td><td>
                    <h3>Actions</h3>

                    <button id="mfile_download_button" >Download</button>
                </td></tr>
        </table>

    </div>

    <div id="tabs-2">

       {% include "auths/auth_auth.html" %}

    </div>

    <div id="tabs-3">
       {% include "auths/usage_auth.html" %}
    </div>

</div>

<script>
$(document).ready(function() {
    $(function() {
        $("#mfile_download_button").button().click(function mfile_get(mfileid){
            window.open("/auths/{{auth.id}}/file/")
        })
        $( "#tabs" ).tabs();
    });
});
</script>

{% endblock %}{% block rightcontent %}

{% endblock %}{% block bottomcontent %}

{% endblock %}
