{% extends "base.html" %}
{% load mservetags %}

{% block title %}MServe File{% endblock %}

{% if "getusagesummary" in methods %}

{% block usages %}
    <span>Number of Files:&nbsp;&nbsp;<em>{{service.mfile_set.all|length}}</em>&nbsp;&nbsp;&nbsp;</span>
    <span>Number of Jobs:&nbsp;&nbsp;<em>{{service.job_set.all|length}}</em>&nbsp;&nbsp;&nbsp;</span>
    {% if usagesummary %}
            {% for usagesummary in usagesummary %}
                {% if usagesummary.metric == "http://mserve/disc_space" %}
                            <span>Largest File:&nbsp;&nbsp;<em>{{usagesummary.max|filesizeformat}}</em>&nbsp;&nbsp;&nbsp;</span>
                            <span>Average File Size:&nbsp;&nbsp;<em>{{usagesummary.avg|filesizeformat}}</em>&nbsp;&nbsp;&nbsp;</span>
                            <span>Disc Space Used:&nbsp;&nbsp;<em>{{usagesummary.sum|filesizeformat}}</em>&nbsp;&nbsp;&nbsp;</span>
                {% endif %}
                {% if usagesummary.metric == "http://mserve/responsetime" %}
                    <span>Average Response Time&nbsp;&nbsp;<em>{{usagesummary.avg|floatformat}}s</em>&nbsp;&nbsp;&nbsp;</span>
                {% endif %}
                {% if usagesummary.metric == "http://mserve/mfile" %}
                    <span>Number of Files:&nbsp;&nbsp;<em>{{usagesummary.sum}}</em>&nbsp;&nbsp;&nbsp;</span>
                {% endif %}

            {% endfor %}
    {% endif %}
{% endblock %}

{% endif %}

{% block main_img %}

<div id="dropbox" style="overflow:hidden;height: 164px;" >

    <div style="width: 266px; height:57px">
        <form id="file_upload" action="/auths/{{auth.id}}/mfiles/"
              method="POST" enctype="multipart/form-data"
              style="width: 100%;height: 100%;" >
                <input type="file" name="file" multiple>
                <button>Upload</button>
                <div class="file_upload_label"><h3>Drop Files Here</h3></div>
        </form>
    </div>

    <div id="files" style="width: 266px; height:97px; overflow: auto; margin-top: 4px;"  >
        <h4>In Progress</h4>
    </div>

</div>

{% endblock %}

{% block content %}

<h2>Auth </h2>
<p>{{ auth }}</p>

<div id="tabs">

    <ul>
            <li><a href="#tabs-1">Files</a></li>
            <li><a href="#tabs-2">Jobs</a></li>
            <li><a href="#tabs-3">Access Control</a></li>
            <li><a href="#tabs-4">Usage</a></li>

    </ul>

    <div id="tabs-1">
        


        <div class="paginator" id="managedresourcesmfilespaginator"></div>

        <div id="managedresourcesmfilescontent" >

        </div>

        <h3>Actions</h3>
        <button id="newjobbutton" >New Job</button>
        <button id="importbutton" >Import Remote</button>

        <div style="clear: both;"></div>


    </div>

    <div id="tabs-2">

        <div id="managedresourcesjobscontent" >
            <p>No Jobs</p>
        </div>

        <div style="clear: both;"></div>

        <script type="text/javascript">
            $(document).ready(function() {
                load_mfiles_auth('{{auth.id}}');
            });
        </script>


    </div>

    <div id="tabs-3">
        <h2>Auth </h2>

        {% if "getauths" in methods %}

                    {% include "auths/auth_auth.html" %}

        {% else %}

            <p>No Access to the Access Control</p>

        {% endif %}
    </div>

    <div id="tabs-4">
       {% include "auths/usage_auth.html" %}
    </div>

</div>

<div id="import-dialog-form" title="Import Data">
        <p id="import-dialog-items"></p>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        //load_mfiles_auth('{{auth.id}}');
        //load_jobs_auth('{{auth.id}}');
        service_setmanagementproperty('{{auth.id}}');
        $('#newjobbutton').button()
        $('#newjobbutton').click(function(){
            create_new_job_ui_dialog('', '{{auth.id}}')
            $("#mfileid").val('');
            $("#serviceid").val('{{auth.id}}');
            $("#dialog-new-job-dialog-form").dialog( "open" );
        });
        create_new_import_ui_dialog('{{auth.id}}',"{% url remoteservice %}","{% url consumer %}" )
    });
</script>

<script>
$(document).ready(function() {
    $(function() {
        $( "#tabs" ).tabs();
    });
});
</script>


{% endblock %}{% block rightcontent %}

{% endblock %}{% block bottomcontent %}

{% endblock %}
