{% load mservetags %}

<h3>Usage Summary</h3>

<table class="table_usage" cellpadding="5" cellspacing="5">
    <tr><th align="left">Metric</th><th>Min</th><th>Max</th><th>Count</th><th>Average</th><th>Sum</th><th>Std. Dev</th><th>Variance</th></tr>

    <tbody id="usagesummarycontent"></tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
        load_usagesummary_auth('{{auth.id}}');
    });
</script>

<h3>Historical Usage</h3>

<table class="table_usage" cellpadding="5" cellspacing="5">
    <tbody id="usagecontent"></tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
        load_usage_auth('{{auth.id}}');
    });
</script>
