{% extends "base.html" %}

{% block title %}MServe Home{% endblock %}

{% block content %}

{% if user.is_staff %}
<h4>Traffic</h4>
<div id="traffic" style="width: 95%; height: 200px;margin-top: 16px;"></div>
{% endif %}

{% include "usage.html" %}


<script type="text/javascript">

$("#traffic").mserveusage('traffic' )
$("#mservelast24").mserveusage('stats', ["last24"] )
$("#mservelast1").mserveusage('stats', ["last1"] )
$("#mservejobs").mserveusage('stats', ["jobs"] )
$("#mservejobstype").mserveusage('stats', ["jobsbytype"] )

</script>

{% endblock %}


