{% extends "base.html" %}

{% block title %}MServe Home{% endblock %}

{% block content %}

{% if user.is_staff %}
    <h4>Traffic</h4>

    <table style="width: 90%;table-layout: fixed">
    <tr>
        <td>    <div id="traffic" style="width: 97.5%; height: 150px;"></div></td>
    </tr>
</table>


{% endif %}

{% include "usage.html" with statsurl='/stats/'  usageurl='/usagesummary/' %}

<script type="text/javascript">
    $("#traffic").mserveusage('traffic' )
    _loadusage()
</script>

{% endblock %}


