{% extends "base.html" %}

{% block title %}MServe Authority{% endblock %}

{% block heading%}{{mfile.name}}{% endblock %}

{% block content %}

<h3>Details</h3>

<div class="auth">
    <div class="authname">{{auth.authname}}</div>
    {% for auth in auth.methods %}
        <span class="method">{{auth}}</span>
    {% endfor %}
    <!--<div class="authid"><a href="/m/auth/{{auth.id}}" >{{auth.id}}</a></div>-->
</div>

<h3>Create Sub Authority </h3>

<form action="/auth/" method="post">
    {{ form.as_p }}
    <input type="hidden" name="parent" value="{{ auth.id }}" />
    <input type="submit" value="Submit" />
</form>

{% endblock %}

