{% block auths %}
<div id="authscontent">
{% if auths %}
    {% for auth in auths %}
    <div class="auth"><h3>Access : {{auth.authname}}</h3>
    <div><a href="/browse/{{auth.id}}" >View Auth </a> </div>
    </div>
    {% endfor %}
{% endif %}
</div>

<div style="clear:both">&nbsp;</div>

<!--
<button id="createauthbutton" >Share</button>

<script type="text/javascript">
    $(document).ready(function() {
        load_auths('{{ service.id }}');
        create_new_add_auth_ui_dialog('{{ service.id }}')
    });
</script>
-->

{% if not auths%}
    <div>None</div>
{% endif %}
{% endblock auths %}