<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<link type="text/css" href="/mservemedia/css/smoothness/jquery-ui-1.8.6.custom.css" rel="stylesheet" />
<link type="text/css" href="/mservemedia/css/mserve.css" rel="stylesheet" />
{% block script %}{% endblock %}
<script type="text/javascript" src="/mservemedia/js/jquery-1.4.3.js" ></script>
<script type="text/javascript" src="/mservemedia/js/jquery.html5-fileupload.js" ></script>
<script type="text/javascript" src="/mservemedia/js/jquery-ui-1.8.6.custom.min.js" ></script>
<script type="text/javascript" src="/mservemedia/js/mserve.js" ></script>

<script type="text/javascript">

    function runEffect(selectedEffect,id) {

            // most effect types need no options passed by default
            var options = {};
            // some effects have required parameters
            if ( selectedEffect === "scale" ) {
                    options = { percent: 0 };
            } else if ( selectedEffect === "size" ) {
                    options = { to: { width: 200, height: 60 } };
            }

            // run the effect
            $("#id-9b9c21ca-91a7-4983-a66e-e71e236fd251").show( selectedEffect, options, 1000, callback );
    };

        // callback function to bring a hidden box back
        function callback() {
                setTimeout(function() {
                        $( "#effect" ).removeAttr( "style" ).hide().fadeIn();
                }, 1000 );
        };



     function setManagementPropertyAccessSpeed(service){
        var speed = prompt("What speed do you wish to set access", "");
         $.ajax({
           type: "PUT",
           data: "property=accessspeed&value="+speed,
           url: '/serviceapi/managementproperty/'+service+'/',
           success: function(msg){
             showMessage("Property Set", "Property 'accessspeed' set to "+speed);
             $(".accesspeed").html(speed)
           },
           error: function(msg){
             showError("Error", ""+msg.responseText );
           }
         });
     }

     function addauth(){
         $.ajax({
           type: "POST",
           data: "name=newmonitorauth&roles=8b57f3b2-a8ec-4f08-a920-6cd016b22b90",
           url: '/authority/addauth/820e9b0e-fd19-4fa7-b63e-f6d6c716d472/',
           success: function(msg){
             alert( "POST " +msg + "'\nStatus: '" + msg.status+"'\nResponse Text:\n" +msg.responseText   );
           },
           error: function(msg){
             alert( "Failure On POST " + "'\nStatus: '" + msg.status+"'\nResponse Text:\n" +msg.responseText );
           }
         });
     }

    function getorcreateauth(){
         $.ajax({
           type: "POST",
           data: "name=newmonitorauth&roles=8b57f3b2-a8ec-4f08-a920-6cd016b22b90",
           url: '/authority/getorcreateauth/820e9b0e-fd19-4fa7-b63e-f6d6c716d472/',
           success: function(msg){
             alert( "POST " +msg  );
           },
           error: function(msg){
             alert( "Failure On POST " + "'\nStatus: '" + msg.status+"'\nResponse Text:\n" +msg.responseText );
           }
         });
     }

     function putroles(){
         $.ajax({
           type: "PUT",
           data: "roles=8b57f3b2-a8ec-4f08-a920-6cd016b22b90,2ebecd1d-a0c6-4374-ab2c-435902dc4bd9",
           url: '/authority/setroles/f3b4adc3-f198-4c3b-aa97-12519446852b/',
           success: function(msg){
             alert( "PUT " +msg  );
           },
           error: function(msg){
             alert( "Failure On PUT " + "'\nStatus: '" + msg.status+"'\nResponse Text:\n" +msg.responseText );
           }
         });
     }

     function poplulate_methods(roleid, methods){
           $('.methods'+roleid).empty()
           $.each(methods, function(i,item){
                id = $("<a href='#'>"+item+"&nbsp;</a>&nbsp;")
                $(id).appendTo('.methods'+roleid);
           });
     }

     function addAuthMethod(roleid){
        var methods = prompt("What methods do you wish to add\nComma separated", "");
        if (methods == null)
            return;
        if (methods == "")
            return;
        $.ajax({
           type: "PUT",
           url: '/roles/'+roleid+"/",
           data: "methods="+methods,
           success: function(msg){
               poplulate_methods(roleid,msg["methods"])
           },
           error: function(msg){
             alert( "Failure to add methods '" + methods + "'\nStatus: '" + msg.status+ "'\nResponse Text:\n" + msg.responseText);
           }
         });
     }

</script>

<!--<link rel="stylesheet" href="style.css" />-->
<title>{% block title %}MServe{% endblock %}</title>
</head>

<body id="wrapper">
   <div id="debug"></div>
   <div style="display:none">
       
       <div id="dialog-mfile-dialog" title="Delete the file?">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
        </div>

        <div id="dialog-job-dialog" title="Delete The Job?">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
        </div>
       
   </div>
    <h2>{% block heading %}MServe{% endblock %}</h2>
    <table id="maintable">
        <tr>
            
            <th id="sidebar" width="10%" rowspan="3" >
                
                {% block sidebar %}
                {% if user.is_staff %}
                    <div><a href="/home/">Home</a></div>
                    <div><a href="/admin/">Admin</a></div>
                    <div><a href="/usage/">Usage</a></div>
                    <div><a href="/map/">Map</a></div>
                    <div><a href="/viz/">Vizualizations</a></div>

                {% endif %}

                {% if user.is_authenticated %}
                <div><a href="/accounts/profile/">Profile</a></div>
                <div><a href="/accounts/logout/">Logout</a></div>
                {% endif %}

                {% if not user.is_authenticated %}
                    <div><a href="/accounts/login/">Login</a></div>
                {% endif %}

                {% if user.is_staff %}
                    <div><a href="#"></a></div>
                    <div><a href="/submit/">Submit</a></div>
                    <div><a href="/tasks/">Tasks</a></div>

                    <h4 class="ilink" onclick="$('#debugcontent').toggle('slow');">Debug</h4>
                    <div id="debugcontent">
                    <div><a onclick="javascript:putroles();" class="ascript" >Test Put roles</a></div>
                    <div><a onclick="javascript:getorcreateauth();" class="ascript" >Test getorcreateauth</a></div>
                    <div><a onclick="javascript:addauth();" class="ascript" >Test addauth</a></div>
                    <div><a onclick="javascript:setManagementPropertyAccessSpeed('{{service.id}}');" class="ascript" >setManagementProperty</a></div>
                    </div>
                {% endif %}

                {% endblock %}



            </th>
            
            <td >
                {% block content %}{% endblock %}
            </td >

            </tr><tr>

            <td style="max-width: 20em">
                {% block rightcontent %}

                {% endblock %}

                {% block auths %}
                <h3  class="ilink" onclick="$('#authscontent').toggle('slow');"><span style="float:left" class="ui-icon ui-icon-circle-plus"></span>Auths</h3>
                <div id="authscontent" style="display:none;">
                {% if auths %}
                    {% for auth in auths %}
                    <dl class="auth">
                        <dt >Authority Name</dt>
                        <dd >{{auth.authname}}</dd>
                        <dt >Auth ID</dt>
                        <dd ><a href="/browse/auth/{{auth.id}}/">{{auth.id}}</a></dd>

                        {%  for role in auth.roles.all %}
                        <dt >Role: {{role.rolename}}</dt>
                        <dd ><em>{{role.description}}</em></dd>
                        <dd ><em>{{role.id}}</em></dd>
                        <dd class="methods{{role.id}}">
                            {% if container %}
                                {% for method in role.methods %}<a href="/containerapi/{{method}}/{{container.id}}/" >{{method}}</a>
                            {% endfor %}
                            {% endif %}
                            {% if service %}
                                {% for method in role.methods %}<a href="/serviceapi/{{method}}/{{service.id}}/" >{{method}}</a>
                            {% endfor %}
                            {% endif %}
                            {% if mfile %}
                                {% for method in role.methods %}<a href="/mfileapi/{{method}}/{{mfile.id}}/" >{{method}}</a>
                            {% endfor %}
                            {% endif %}
                        </dd>
                        <dd><a class="ascript" onclick="javascript:addAuthMethod('{{role.id}}');">Add Method</a>
                        </dd>
                        {% endfor %}
                    </dl>
                    {% endfor %}
                {% endif %}
                </div>

                {% if not auths%}
                    <div>None</div>
                {% endif %}
                {% endblock auths %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% block bottomcontent %}
                {% endblock %}
            </td>
        </tr>

    </table>
</body>
</html>