{% extends "base.html" %}

{% block title %}MServe Container{% endblock %}

{% block heading%}{{container.name}}{% endblock %}

{% block content %}

<h3>Data Services</h3>
<ul>
    {% for service in services %}
        <li><a href="/browse/service/{{ service.id }}/">{{ service.name }}</a></li>
    {% endfor %}
</ul>
{% if not services %}
    <ul><li>Empty</li></ul>
{% endif %}
<h3>Create New Service</h3>

<form action="/form/service/" method="post">
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>


{% endblock %}

{% block rightcontent %}

{% include "methods.html" %}

<h3>Management Properties</h3>

<table style="table-layout: fixed;width:300px;">
    <tr><th>Name</th><th>Value</th><th><!--Actions--></th></tr>
    {% for property in properties%}
    <tr><td>{{ property.property }}</td><td>{{property.value }}</td><td>
            <!--<form style="display: inline" action="/serviceapi/managementproperty/{{service.id}}/" method="post">
                <input type="submit" value="Delete" onclick="alert('Not Implemented')" />
            </form>-->
            </td>
        </tr>
    {% endfor %}
</table>

<!--
<h5>Set Management Property</h5>

<form action="/serviceapi/managementproperty/{{service.id}}/" method="POST">
    {{ managementpropertyform.as_p }}
    <input type="submit" value="Submit" />
</form>

-->

{% endblock rightcontent %}

{% block bottomcontent %}
{% include "usage.html" %}
{% endblock %}




