{% extends "base.html" %}

{% block title %}MServe Container{% endblock %}

{% block heading%}{{container.name}}{% endblock %}

{% block content %}

<h3>Data Services</h3>
<ul>
    {% for service in services %}
        <li><a href="/service/{{ service.id }}/">{{ service.name }}</a></li>
    {% endfor %}
</ul>
{% if not services %}
    <ul><li>Empty</li></ul>
{% endif %}
<h3>Create New Service</h3>

<form action="/service/" method="post">
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>


{% endblock %}

{% block rightcontent %}

<h3>Actions</h3>

<a href="/containerapi/getusagesummary/{{container.id}}/-1/" >Usage Summary</a>

<h3>Management Properties</h3>

<table>
    <tr><th>Name</th><th>Value</th><th>Actions</th></tr>
    {% for property in properties%}
    <tr><td>{{ property.property }}</td><td>{{property.value }}</td><td>
            <form style="display: inline" action="/service/" method="post">
                <input type="submit" value="Delete" onclick="alert('Not Implemented')" />
            </form>
            </td>
        </tr>
    {% endfor %}
</table>

<h5>Set Management Property</h5>

<form action="/containerapi/managementproperty/{{container.id}}/" method="POST">
    {{ managementpropertyform.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock rightcontent %}

{% block bottomcontent %}
{% include "usage.html" %}
{% endblock %}




