{% extends "base.html" %}

{% block title %}MServe Container{% endblock %}

{% block usages %}
    {% if user.is_staff %}
        <span>Number of Services&nbsp;&nbsp;<em class="numservices"></em>&nbsp;&nbsp;&nbsp;</span>
                    {% if usagesummary %}
                    {% for usagesummary in usagesummary %}
                        {% if usagesummary.metric == "http://prestoprime/disc_space" %}
                            <span>Largest File:&nbsp;&nbsp;<em>{{usagesummary.fmt_max}}</em>&nbsp;&nbsp;&nbsp;</span>
                            <span>Average File Size:&nbsp;&nbsp;<em>{{usagesummary.fmt_avg}}</em>&nbsp;&nbsp;&nbsp;</span>
                            <span>Disc Space Used:&nbsp;&nbsp;<em>{{usagesummary.fmt_sum}}</em>&nbsp;&nbsp;&nbsp;</span>
                        {% endif %}
                        {% if usagesummary.metric == "http://prestoprime/responsetime" %}
                            <span>Average Response Time&nbsp;&nbsp;<em>{{usagesummary.fmt_avg}}s</em>&nbsp;&nbsp;&nbsp;</span>
                        {% endif %}
                    {% endfor %}
            {% endif %}
    {% endif %}

{% endblock %}

{% block content %}

<h3>Data Services</h3>

<div class="paginator" id="servicepaginator"></div>
<div id="servicemessages"></div>

<script type="text/javascript">
    $(document).ready(function() {
        loadServices('{{ container.id }}');
    });
</script>

<!--
<ul>
    {% for service in services %}
        <li><a href="/browse/service/{{ service.id }}/">{{ service.name }}</a> <em>{{service.mfile_set.all|length}} files</em></li>
    {% endfor %}
</ul>
{% if not services %}
    <ul><li>Empty</li></ul>
{% endif %}

-->
<h3>Create New Service</h3>

<form action="/form/service/" method="post">
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>


{% endblock %}

{% block rightcontent %}

{% if user.is_staff %}
    {% include "methods.html" %}


    <h3>Management Properties</h3>

    <table style="table-layout: fixed;width:300px;">
        <tr><th>Name</th><th>Value</th><th><!--Actions--></th></tr>
        {% for property in properties%}
        <tr><td>{{ property.property }}</td><td>{{property.value }}</td><td>
                <!--<form style="display: inline" action="/serviceapi/managementproperty/{{service.id}}/" method="post">
                    <input type="submit" value="Delete" onclick="alert('Not Implemented')" />
                </form>-->
                </td>
            </tr>
        {% endfor %}
    </table>

{% endif %}

<!--
<h5>Set Management Property</h5>

<form action="/serviceapi/managementproperty/{{service.id}}/" method="POST">
    {{ managementpropertyform.as_p }}
    <input type="submit" value="Submit" />
</form>

-->

{% endblock rightcontent %}

{% block bottomcontent %}
{% include "usage.html" %}
{% endblock %}




