{% extends "base.html" %}

{% block title %}MServe Home{% endblock %}

{% block usages %}
    {% if user.is_staff %}
        <span>Number of Containers&nbsp;&nbsp;<em class="numcontainers"></em>&nbsp;&nbsp;&nbsp;</span>
                    {% if usagesummary %}
                    {% for usagesummary in usagesummary %}
                        {% if usagesummary.metric == "http://prestoprime/disc_space" %}
                            <span>Largest File:&nbsp;&nbsp;<em>{{usagesummary.max}}</em>&nbsp;&nbsp;&nbsp;</span>
                            <span>Average File Size:&nbsp;&nbsp;<em>{{usagesummary.avg}}</em>&nbsp;&nbsp;&nbsp;</span>
                            <span>Disc Space Used:&nbsp;&nbsp;<em>{{usagesummary.sum}}</em>&nbsp;&nbsp;&nbsp;</span>
                        {% endif %}
                        {% if usagesummary.metric == "http://prestoprime/responsetime" %}
                            <span>Average Response Time&nbsp;&nbsp;<em>{{usagesummary.avg}}s</em>&nbsp;&nbsp;&nbsp;</span>
                        {% endif %}

                    {% endfor %}
            {% endif %}
    {% endif %}
{% endblock %}


{% block content %}

{% if user.is_staff %}

<h3>Containers</h3>

<div class="paginator" id="containerpaginator"></div>
<div id="containermessages"></div>


<script type="text/javascript">
    $(document).ready(function() {
        loadContainers();
    });
</script>

<h3>Create New Hosting Container</h3>
<form action="/form/container/" method="post">
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% else %}

{% if not user.is_authenticated %}
    <p>Welcome, Please <a href="/accounts/login" >log in.</a></p>
{% endif %}

{% if user.is_authenticated %}
<h3>Services</h3>
<p>None</p>
{% endif %}

{% endif %}

{% endblock %}

{% block auths %}

{% endblock auths %}


