{% if stager.file %}
    <div id="image-{{stager.id}}" style=" height: 256px; padding: 0.4em; position: relative;" >
        <img id="stagerposter" title="{{stager.name}}" alt="{{stager.name}}" src="/mservethumbs/{{stager.poster}}" />
    </div>
{% endif %}
{% if not stager.file %}
<div ><img  title="No File" alt="No File" src="{{altfile}}" /></div>
{% endif %}
<script type="text/javascript">

    $('#image-{{stager.id}}').show( 'slide', {}, 1000, callback );

    function callback() {
        //Do nothing for now
    };
</script>