{% if mfile.file %}
    <div id="image-{{mfile.id}}" style=" height: 256px; padding: 0.4em; position: relative;" >
        <img id="mfileposter" title="{{mfile.name}}" alt="{{mfile.name}}" src="{{mfile.posterurl}}" />
    </div>
{% endif %}
{% if not mfile.file %}
<div ><img  title="No File" alt="No File" src="{{altfile}}" /></div>
{% endif %}
<script type="text/javascript">

    $('#image-{{mfile.id}}').show( 'slide', {}, 1000, callback );

    function callback() {
        //Do nothing for now
    };
</script>