{% extends "base.html" %}

{% block content %}

<table class="login">
    <tr>
        <th class="loginth">Login</th>
        <th class="loginth">Login with OpenID</th>
    </tr>
    <tr>

        <td class="logintd" style="width:40%;">
            {% if form.has_errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <form method="post" action="." style="padding:10px;">
            <table>
                <tr><th><label for="id_username">Username:</label></th><td   >{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
            </table>
            {% csrf_token %}
            <input id="submit-button" type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </td>

        <td class="logintd" style="width:40%;vertical-align: middle;text-align: center;">
            <a href="{% url openid-login %}?next={{ next|urlencode }}">
                <img id="openid-button"  src="/mservemedia/images/openid-icon-100x100.png" alt="OpenID" title="Open Id Logo" />
            </a>
        </td>

    </tr>

</table>

<script type="text/javascript">
$(document).ready(function() {
    $("#submit-button").button()
    $("#open-id").button()
});
</script>

<div class="vspacer"></div>

{% endblock %}

{% block auths %}

{% endblock %}