{% extends "base.html" %}

{% block title %}MServe{% endblock %}

{% block heading%}Map{% endblock %}

{% block content %}
    <script type="text/javascript">
      function drawVisualization() {
        // Create and populate the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');
        data.addRows([
                {% for row in rows %}
                    [{v:  '{{row.value}}'  ,  f:'{{row.name}}' } , '{{row.parent}}', '{{row.tip}}'],
                {% endfor %}
        ]);

        // Create and draw the visualization.
        new google.visualization.OrgChart(document.getElementById('visualization')).
            draw(data, {allowHtml: true, size: 'medium' ,allowCollapse: true});
      }


      google.setOnLoadCallback(drawVisualization);
    </script>
<h3>Map</h3>

    <div id="visualization" style="width: 800px; height: 600px;"></div>
{% block auths %}
{% endblock auths %}

{% endblock %}
