{% block methods%}

{% load mservetags %}

<div id="methodscontent">
{% if container %}
    {% for method in methods %}
    <button id="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="javascript:container_{{method}}('{{container.id}}');">
        <span class="ui-button-text" >{{method}}</span></button>
    {% endfor %}
{% endif %}

{% if service  %}
    {% for method in methods %}
    <button id="service-{{method}}-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
        <span class="ui-button-text" >{{method}}</span></button>
        <script type="text/javascript">
            $(document).ready(function() {
                check_service_method('{{method}}');
            });
        </script>
    {% endfor %}
{% endif %}

{% if mfile %}

    <h3>Actions</h3>
    <button id="service-{{method}}-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="javascript:mfile_task('{{mfile.id}}');">
            <span class="ui-button-text" >New Task</span></button>

    <h3>Methods</h3>
    {% for method in methods %}
        <button id="service-{{method}}-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="javascript:mfile_{{method}}('{{mfile.id}}');">
            <span class="ui-button-text" >{{method}}</span></button>
    {% endfor %}

{% endif %}
</div>
{% endblock%}