{% block methods%}

<h3 class="ilink" onclick="$('#methodscontent').toggle('slow');">Methods <em style="color:gray">click to show/hide</em></h3>
<div id="methodscontent">
{% if container %}
    {% for method in methods %}<a href="/containerapi/{{method}}/{{container.id}}/" >{{method}}</a>
    {% endfor %}
{% endif %}

{% if service  %}
    {% for method in methods %}<a href="/serviceapi/{{method}}/{{service.id}}/" >{{method}}</a>
    {% endfor %}
{% endif %}

{% if stager %}
    <!--{% for method in methods %}<a href="/stagerapi/{{method}}/{{stager.id}}/" >{{method}}</a>{% endfor %}
    {% for method in methods %}
        <a class="ascript" onclick="javascript:stager_{{method}}('{{stager.id}}');" >{{method}}</a>
    {% endfor %}-->
    {% for method in methods %}
        <button id="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="javascript:stager_{{method}}('{{stager.id}}');">
            <span class="ui-button-text" >{{method}}</span></button>
    {% endfor %}

    <h3>Special Methods</h3>
    <button id="button1" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="javascript:stager_file_corrupt('{{stager.id}}');">
        <span class="ui-button-text" >Corrupt File</span>
    </button>

    <button id="button2" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onclick="javascript:stager_backup_corrupt('{{stager.id}}');">
        <span class="ui-button-text">Corrupt Backup</span>
    </button>
{% endif %}
</div>
{% endblock%}