{% extends "base.html" %}
{% load mservetags %}
{% block title %}MServe File{% endblock %}

{% block usages %}
            <span>Name:&nbsp;<em class="sm">{{mfile.name|trunc:20}}</em>&nbsp;</span>
            <span>Mimetype:&nbsp;<em class="sm">{{mfile.mimetype}}</em>&nbsp;</span>
            <span>Created:&nbsp;<em class="sm">{{mfile.created|date}},&nbsp;{{mfile.created|time}}</em>&nbsp;</span>
            <span>Updated:&nbsp;<em class="sm">{{mfile.updated|date}},&nbsp;{{mfile.updated|time}}</em>&nbsp;</span>
            <span>Size:&nbsp;<em class="sm">{{mfile.size|filesizeformat}}</em>&nbsp;</span>
{% endblock %}

{% block content %}

<div id="tabs">

    <ul>
        <li><a href="#tabs-1">Data</a></li>
        <li><a href="#tabs-3">Access Control</a></li>
        <li><a href="#tabs-usage">Usage</a></li>
    </ul>

    <div id="tabs-1">

        <div id="content" style="min-height: 500px;">
        <table>

            <tr><td>
        {% if verify %}
            {% if not verifystate %}
                <div class="failed">Error: Verification has failed</div>
            {% else%}
                <div class="passed">Success: Verification OK</div>
            {% endif %}
        {% endif %}
        <table><tr><td>
            <dl>
                <dt>Name</dt>
                <dd>{{mfile.name}}</dd>
                <dt>Checksum</dt>
                <dd>{{mfile.checksum}}</dd>
                {% if verifychecksum%}
                <dt>Verify</dt>
                <dd class="highlight">{{verifychecksum}}</dd>
                {% endif %}
                <dt>Mime</dt>
                <dd>{{mfile.mimetype}}</dd>
            </dl>
         </td><td>
            <dl>
                <dt>Created</dt>
                <dd>{{mfile.created|date}},&nbsp;{{mfile.created|time}}</dd>
                <dt>Updated</dt>
                <dd>{{mfile.updated|date}},&nbsp;{{mfile.updated|time}}</dd>
                <dt>Size</dt>
                <dd>{{mfile.size|filesizeformat}}</dd>
            </dl>
         </td></tr>

        </table>
    
        <div id="previewcontent" >

        {% if mfile.mimetype %}

            {% if mfile.mimetype|startswith:"video"  %}
                    {% include "mfile/mediaplayer.html" %}
            {% else %}{% if mfile.mimetype|startswith:"image"  %}
                    {% include "mfile/image.html" %}
            {% else %}{% if mfile.mimetype|startswith:"text"  %}
                    {% include "mfile/text.html" %}
            {% else %}{% if mfile.name|endswith:".mxf"  %}
                    {% include "mfile/mediaplayer.html" %}
            {% else %}{% if mfile.name|endswith:".blend"  %}
                    {% include "mfile/render.html" %}
            {% else %}
                    <p>No Preview</p>
            {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}

        {% else%}

        <p>No Preview</p>

        {% endif %}

        </div>
        </td>
        <td>
                <h3>Actions</h3>
                <button id="mfile_download_button" >Download</button>
                <button id="newjobbutton" >New Job</button>
                </td>
        </tr>
        </table>

        <div id="jobcontent">

            <h4>Jobs</h4>

            <div id="jobspaginator">
                <p>No Jobs</p>
            </div>

            <script type="text/javascript">
                $(document).ready(function() {
                    $("#mfile_download_button").button().click(function mfile_get(mfileid){
                           window.open("/mfiles/{{mfile.id}}/file/")
                    })
                    load_jobs_mfile('{{mfile.id}}')

                    create_new_job_ui_dialog('{{mfile.id}}','')
                    
                    $( "#newjobbutton" )
                        .button().click(function() {
                                $("#mfileid").val('{{mfile.id}}');
                                $( "#dialog-new-job-dialog-form").dialog( "open" );
                    });
                    
                });
            </script>

        </div>

    </div>

    </div>

    <div id="tabs-3">
        <div id="authcontent" style="display:none;">

            <form action="{{formtarget}}" method="post" >
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>

        </div>

        {% include "auths.html" %}
    </div>

    <div id="tabs-usage">
        {% include "usage.html" %}
    </div>

</div>


<script type="text/javascript">
$(document).ready(function() {
    $(function() {
        $( "#tabs" ).tabs();
    });
});
</script>

{% endblock %}

{% block rightcontent %}{% endblock %}

{% block bottomcontent %}{% endblock %}
