{% load mservetags %}
<div id="image-{{mfile.id}}" class="fluid" onmouseover="$('#id-{{mfile.id}}').show();"
           onmouseout="$('#id-{{mfile.id}}').hide();" >
    <table cellpadding="0" cellspacing="0" style="background-image:url('/mservethumbs/{{mfile.thumb}}/');" class="thumb">
        <colgroup><col>
        </colgroup>

        <tbody>
          <tr><td><div class="title"><a href="/mfile/{{ mfile.id }}/">{{mfile.name|trunc:20}}</a></div></td></tr>
          <tr><td>
                  <div class="info" style="background-image: url(/mservemedia/images/transparent-white.png); position: relative " id="id-{{mfile.id}}">
                      <div>Size: {{mfile.size|filesizeformat}}</div>
                      <div style="font-size: x-small;">Type</div>
                      <div style="font-size: xx-small;text-align: center">{{mfile.mimetype}}</div>
                      <div style="font-size: x-small;">Created: {{mfile.created|date}},{{mfile.created|time}}</div>
                      <div style="font-size: x-small;">Updated: {{mfile.updated|date}},{{mfile.updated|time}}</div>
                      <div style="font-size: xx-small;">Checksum:</div>
                      <div style="font-size: xx-small;text-align: center;">{{mfile.checksum}}</div>

                  </div>
            </td></tr>
        </tbody>
    </table>
</div>