{% extends "base.html" %}
{% load mservetags %}
{% block title %}MServe File{% endblock %}

{% block usages %}
            <span>Name:&nbsp;<em class="sm">{{mfile.name|trunc:20}}</em>&nbsp;</span>
            <span>Mimetype:&nbsp;<em class="sm">{{mfile.mimetype}}</em>&nbsp;</span>
            <span>Created:&nbsp;<em class="sm">{{mfile.created|date}},&nbsp;{{mfile.created|time}}</em>&nbsp;</span>
            <span>Updated:&nbsp;<em class="sm">{{mfile.updated|date}},&nbsp;{{mfile.updated|time}}</em>&nbsp;</span>
            <span>Size:&nbsp;<em class="sm">{{mfile.size|filesizeformat}}</em>&nbsp;</span>
{% endblock %}

{% block content %}


<h3 class="ilink" onclick="$('#content').toggle('blind');"><span style="float:left" class="ui-icon ui-icon-circle-plus"></span>Details</h3>

    <div id="content">
    <div id="message"></div>

    {% if verify %}
        {% if not verifystate %}
            <div class="failed">Error: Verification has failed</div>
        {% else%}
            <div class="passed">Success: Verification OK</div>
        {% endif %}
    {% endif %}
    <table><tr><td>
        <dl>
            <dt>Name</dt>
            <dd>{{mfile.name}}</dd>
            <dt>Checksum</dt>
            <dd>{{mfile.checksum}}</dd>
            {% if verifychecksum%}
            <dt>Verify</dt>
            <dd class="highlight">{{verifychecksum}}</dd>
            {% endif %}
            <dt>Mime</dt>
            <dd>{{mfile.mimetype}}</dd>

        </dl>
     </td><td>
        <dl>
            <dt>Created</dt>
            <dd>{{mfile.created|date}},&nbsp;{{mfile.created|time}}</dd>
            <dt>Updated</dt>
            <dd>{{mfile.updated|date}},&nbsp;{{mfile.updated|time}}</dd>
            <dt>Size</dt>
            <dd>{{mfile.size|filesizeformat}}</dd>
        </dl>
     </td></tr>

    </table>
    </div>

<h3 class="ilink" onclick="$('#previewcontent').toggle('blind');"><span style="float:left" class="ui-icon ui-icon-circle-plus"></span>Preview</h3>

<div id="previewcontent">

{% if mfile.mimetype %}

    {% if mfile.mimetype|startswith:"video"  %}
        {% include "mediaplayer.html" %}
    {% else %}
        {% if mfile.mimetype|startswith:"image"  %}
            {% include "image.html" %}
        {% else %}
            {% if mfile.name|endswith:".blend"  %}
                {% include "render.html" %}
            {% else %}
                <p>No Preview</p>
            {% endif %}
        {% endif %}
    {% endif %}

{% else%}

<p>No Preview</p>

{% endif %}

</div>

{% if mfile.name|endswith:".blend"  %}


{% endif %}


{% endblock %}

{% block rightcontent %}

{% include "methods.html" %}

<h3 class="ilink" onclick="$('#authcontent').toggle('blind');"><span style="float:left" class="ui-icon ui-icon-circle-plus"></span>Create Auth</h3>

<div id="authcontent" style="display:none;">

    <form action="{{formtarget}}" method="post" >
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

</div>


{% include "actions.html" %}

{% endblock %}

{% block bottomcontent %}
{% include "usage.html" %}
{% endblock %}
