{% extends "base.html" %}

{% block title %}MServe Service{% endblock %}

{% block usages %}
    <span>Number of Files:&nbsp;&nbsp;<em>{{service.mfile_set.all|length}}</em>&nbsp;&nbsp;&nbsp;</span>
    <span>Number of Jobs:&nbsp;&nbsp;<em>{{service.job_set.all|length}}</em>&nbsp;&nbsp;&nbsp;</span>
    {% if usagesummary %}
            {% for usagesummary in usagesummary %}
                {% if usagesummary.metric == "http://mserve/disc_space" %}
                            <span>Largest File:&nbsp;&nbsp;<em>{{usagesummary.max|filesizeformat}}</em>&nbsp;&nbsp;&nbsp;</span>
                            <span>Average File Size:&nbsp;&nbsp;<em>{{usagesummary.avg|filesizeformat}}</em>&nbsp;&nbsp;&nbsp;</span>
                            <span>Disc Space Used:&nbsp;&nbsp;<em>{{usagesummary.sum|filesizeformat}}</em>&nbsp;&nbsp;&nbsp;</span>
                {% endif %}
                {% if usagesummary.metric == "http://mserve/responsetime" %}
                    <span>Average Response Time&nbsp;&nbsp;<em>{{usagesummary.avg}}s</em>&nbsp;&nbsp;&nbsp;</span>
                {% endif %}

            {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}

<div class="demo">

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Data</a></li>
		<li><a href="#tabs-2">Jobs</a></li>
		<li><a href="#tabs-3">Actions</a></li>
		<li><a href="#tabs-4">Config</a></li>
		<li><a href="#tabs-5">Usage</a></li>
		<li><a href="#tabs-6">Access Control</a></li>
	</ul>


	<div id="tabs-1">
 <div class="paginator" id="mfilepaginator"></div>

<div id="mfilemessages"></div>

<div id="mfileList">
</div>

<h3 style="clear:both">Create New File</h3>
<table>
<tr>
        <td>
            <div id="dropbox" class="dropbox readytoupload">
                <h4>Drop Files Here</h4>
            </div>
            <script type="text/javascript">
                if ($.browser.webkit) {
                    // Do Webkit uploader (chrome)
                    make_drop_upload_webkit("#dropbox",'{{service.id}}');
                }else{
                    // Do Non-Webkit uploader (Firefox)
                    make_drop_upload("#dropbox",'{{service.id}}');
                }
            </script>
        </td>
        <td>
            <div id="progressbox" class="dropbox">
                <h4>In Progress</h4>
            </div>
        </td>
        <td>
            <h4>..Or Upload with Form</h4>
            <form name="uploadform" action="/form/mfile/" method="post" enctype="multipart/form-data" >
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.file.errors }}
                        {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    <table>
                        <tr>
                            <td style="vertical-align: middle;text-align: center;">{{ form.file }}</td>
                            <td><input type="submit" value="Submit" /></td>
                        </tr>
                    </table>
                </div>
            </form>
        </td>
</tr>
</table>
        </div>
             <div id="tabs-2">
             <h3>Jobs</h3>

            <div id="jobs">

            </div>


            <div id="set-management-property-button-dialog-form" title="Set Management Property">
                <p class="validateTips">Input management property and value.</p>

                <form >
                <fieldset>
                    <legend></legend>
                        <label for="property">Property</label>
                        <input type="text" name="prop" id="prop" class="text ui-widget-content ui-corner-all" />
                        <label for="value">Value</label>
                        <input type="text" name="val" id="val" value="" class="text ui-widget-content ui-corner-all" />
                </fieldset>
                </form>
            </div>


            <script type="text/javascript">
                $(document).ready(function() {
                    loadMFiles('{{ service.id }}');
                    loadJobs('{{service.id}}');
                    service_setmanagementproperty('{{service.id}}');
                });
            </script>

        </div>
	<div id="tabs-3">

            {% include "methods.html" %}

       </div>
       <div id="tabs-4">
            <h3>Management Properties</h3>

            <table style="table-layout: fixed;width:300px;">
                <tr><th>Name</th><th>Value</th><th><!--Actions--></th></tr>
                {% for property in properties%}
                <tr><td>{{ property.property }}</td><td class="{{ property.property }}">{{property.value }}</td><td>
                        <!--<form style="display: inline" action="/serviceapi/managementproperty/{{service.id}}/" method="post">
                            <input type="submit" value="Delete" onclick="alert('Not Implemented')" />
                        </form>-->
                        </td>
                    </tr>
                {% endfor %}
            </table>

            
     </div>
    <div id="tabs-5">
            {% include "usage.html" %}
     </div>
    	<div id="tabs-6">
            {% include "auths.html" %}
     </div>
</div>

<script>
$(document).ready(function() {
    $(function() {
        $( "#tabs" ).tabs();
    });
});
</script>


</div><!-- End demo -->


<div style="clear:both"></div>

{% endblock %}

{% block rightcontent %}

{% endblock %}

{% block bottomcontent %}

{% endblock %}

