
{% extends "base.html" %}

{% block title %}MServe Service{% endblock %}

{% block heading%}{{service.name}}{% endblock %}

{% block content %}

<h3>Data Stagers</h3>
<ul>
    {% for stager in stagers %}
        <li><a href="/stager/{{ stager.id }}/">{{ stager.name }}</a></li>
    {% endfor %}
</ul>
{% if not stagers %}
    <ul><li>Empty</li></ul>
{% endif %}
<h3>Create New Stager</h3>

<form action="/stager/" method="post" enctype="multipart/form-data" >
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}


