{% extends "base.html" %}

{% block title %}MServe Stager{% endblock %}

{% block heading%}{{stager.name}}{% endblock %}

{% block content %}

    <h3>Details</h3>

    {% if verify %}
        {% if not verifystate %}
            <div class="failed">Error: Verification has failed</div>
        {% else%}
            <div class="passed">Success: Verification OK</div>
        {% endif %}
    {% endif %}
    <dl>
        <dt>Name</dt>
        <dd>{{stager.name}}</dd>
        <dt>Checksum</dt>
        <dd>{{stager.checksum}}</dd>
        {% if verifychecksum%}
        <dt>Verify</dt>
        <dd class="highlight">{{verifychecksum}}</dd>
        {% endif %}
        <dt>Mime</dt>
        <dd>{{stager.mimetype}}</dd>

    </dl>
{% if stager.thumb.file == "" %}
<script type="text/javascript">
    getThumb('{{stager.id}}')
</script>
{% endif %}

{% load mservetags %}

{% if stager.mimetype %}

    {% if stager.mimetype|startswith:"video"  %}
        {% include "mediaplayer.html" %}

    {% else %}
        {% if stager.mimetype|startswith:"image"  %}
            {% include "image.html" %}
        {% else %}
            <div>No Preview</div>
        {% endif %}
    {% endif %}

{% else%}

    <em>Mimetype not set</em>

{% endif %}

    <h3>Create Auth</h3>

    <form action="{{formtarget}}" method="post" >
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

{% endblock %}

{% block rightcontent %}

{% include "methods.html" %}

{% include "actions.html" %}

{% if stager.file and fullaccess %}
    <h3>Actions</h3>
    <a class="ascript" onclick="javascript:deletestager('{{stager.id}}');" >Delete</a>
{% endif %}

{% endblock %}

{% block bottomcontent %}
{% include "usage.html" %}
{% endblock %}
