{% extends "base.html" %}

{% block title %}MServe Stager{% endblock %}

{% block heading%}{{stager.name}}{% endblock %}

{% block content %}
    <h3 class="ilink" onclick="$('#content').toggle('slow');">Details <em style="color:gray">click to show/hide</em></h3>
    <div id="content">
    <div id="message"></div>

    {% if verify %}
        {% if not verifystate %}
            <div class="failed">Error: Verification has failed</div>
        {% else%}
            <div class="passed">Success: Verification OK</div>
        {% endif %}
    {% endif %}
    <dl>
        <dt>Name</dt>
        <dd>{{stager.name}}</dd>
        <dt>Checksum</dt>
        <dd>{{stager.checksum}}</dd>
        {% if verifychecksum%}
        <dt>Verify</dt>
        <dd class="highlight">{{verifychecksum}}</dd>
        {% endif %}
        <dt>Mime</dt>
        <dd>{{stager.mimetype}}</dd>

    </dl>
    </div>
{% if stager.poster == "" %}
<script type="text/javascript">
    getPoster('{{stager.id}}')
</script>
{% endif %}

{% load mservetags %}

<h3 class="ilink" onclick="$('#previewcontent').toggle('slow');">Preview <em style="color:gray">click to show/hide</em></h3>

<div id="previewcontent">
{% if stager.mimetype %}

    {% if stager.mimetype|startswith:"video"  %}
        {% include "mediaplayer.html" %}

    {% else %}
        {% if stager.mimetype|startswith:"image"  %}
            {% include "image.html" %}
        {% else %}
            <div>No Preview</div>
        {% endif %}
    {% endif %}

{% else%}

    <em>No Preview</em>

{% endif %}
</div>



{% endblock %}

{% block rightcontent %}

{% include "methods.html" %}


<h3></h3><h3 class="ilink" onclick="$('#authcontent').toggle('slow');">Create Auth <em style="color:gray">click to show/hide</em></h3>

<div id="authcontent" style="display:none;">

    <form action="{{formtarget}}" method="post" >
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

</div>


{% include "actions.html" %}

{% endblock %}

{% block bottomcontent %}
{% include "usage.html" %}
{% endblock %}
