{% extends "base.html" %}

{% block title %}MServe Stager{% endblock %}

{% block heading%}{{stager.name}}{% endblock %}

{% block content %}

<h3>Details</h3>
<p>{{stager.name}}</p>

{% if stager.file %}
    <p><img height="100px" title="{{stager.name}}" alt="{{stager.name}}" src="/files/media/{{stager.file}}" /></p>
{% endif %}
{% if not stager.file %}
    <p><img  title="No File" alt="No File" src="{{altfile}}" /></p>
{% endif %}

<h3>Create Auth</h3>

<form action="/stagerauth/" method="post" >
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}
