
<script id="containerTemplate" type="text/x-jquery-tmpl">

<div class="infoholder">
    <table cellpadding="0" cellspacing="0" style="margin-top:9px;margin-left: 12px;">
        {%templatetag openvariable%}each(servicei,val) [0,1,2,3]   {%templatetag closevariable%}
        <tr>
              {%templatetag openvariable%}each(mfilei,val) [0,1,2,3]   {%templatetag closevariable%}
                 {%templatetag openvariable%}if dataservice_set[servicei] && dataservice_set[servicei].mfile_set[mfilei]   {%templatetag closevariable%}
                    <td class="container_preview_td" style="background-image: url(${dataservice_set[servicei].mfile_set[mfilei].thumburl});"></td>
                 {%templatetag openvariable%}else{%templatetag closevariable%}
                    <td class="container_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
                 {%templatetag openvariable%}/if{%templatetag closevariable%}
             {%templatetag openvariable%}/each{%templatetag closevariable%}
        </tr>
        {%templatetag openvariable%}/each{%templatetag closevariable%}
    </table>

    <div id="image-${id}" class='fluid' onmouseover="$('#id-${id}').show();"
         onmouseout="$('#id-${id}').hide();" style="position: relative; top: -130px">

        <table cellpadding='0' cellspacing='0'  class='thumb' style="z-index: 2;">
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr><td>
                    <div class='title'>
                        <a href='/browse/${id}/'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                        </a></div></td></tr>
            <tr><td>
                    <a href='/browse/${id}/'>
                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>
                          <div>${dataservice_set.length} files </div>
                          <div style="font-weight: bold">Latest Services :</div>

                          {%templatetag openvariable%}each dataservice_set{%templatetag closevariable%}
                                <!-- Show Last 4 files -->
                              {%templatetag openvariable%}if $index < 4 {%templatetag closevariable%}
                                <div>${getShort($value.name,30)}</div>
                              {%templatetag openvariable%}/if{%templatetag closevariable%}
                          {%templatetag openvariable%}/each{%templatetag closevariable%}
                      </div>
                    </a>
                </td></tr>
            </tbody>
        </table>
    </div>
</div>
</script>

<script id="serviceTemplate" type="text/x-jquery-tmpl">

<div class="infoholder">
    <table cellpadding="0" cellspacing="0" style="margin-top:9px;margin-left: 12px;">
        <tr>
             {%templatetag openvariable%}if mfile_set[0] {%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url(${mfile_set[0].thumburl});"></td>
             {%templatetag openvariable%}else{%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
             {%templatetag openvariable%}/if{%templatetag closevariable%}

             {%templatetag openvariable%}if mfile_set[1] {%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url(${mfile_set[1].thumburl});"></td>
              {%templatetag openvariable%}else{%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
             {%templatetag openvariable%}/if{%templatetag closevariable%}
        </tr>
        <tr>
             {%templatetag openvariable%}if mfile_set[2] {%templatetag closevariable%}
                          <td style="background-image: url(${mfile_set[2].thumburl});"></td>
             {%templatetag openvariable%}else{%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
             {%templatetag openvariable%}/if{%templatetag closevariable%}

             {%templatetag openvariable%}if mfile_set[3] {%templatetag closevariable%}
                           <td class="service_preview_td" style="background-image: url(${mfile_set[3].thumburl});"></td>
             {%templatetag openvariable%}else{%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
             {%templatetag openvariable%}/if{%templatetag closevariable%}
        </tr>
    </table>

    <div id="image-${id}" class='fluid' onmouseover="$('#id-${id}').show();"
         onmouseout="$('#id-${id}').hide();" style="position: relative; top: -130px">

        <table cellpadding='0' cellspacing='0'  class='thumb' style="z-index: 2;">
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr><td>
                    <div class='title'>
                        <a href='/browse/${id}/'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                        </a></div></td></tr>
            <tr><td>
                    <a href='/browse/${id}/'>
                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>
                          <div>${mfile_set.length} files </div>
                          <div style="font-weight: bold">Latest Files :</div>

                          {%templatetag openvariable%}each mfile_set{%templatetag closevariable%}
                                <!-- Show Last 4 files -->
                              {%templatetag openvariable%}if $index < 4 {%templatetag closevariable%}
                                <div>${getShort($value.name,30)}</div>
                              {%templatetag openvariable%}/if{%templatetag closevariable%}
                          {%templatetag openvariable%}/each{%templatetag closevariable%}
                      </div>
                    </a>
                </td></tr>
            </tbody>
        </table>
    </div>
</div>
</script>

<script id="managementpropertyTemplate-steps" type="text/x-jquery-tmpl">
    <tr>
        <th>${ property}</th>
        <td class="${ property }" style="text-align: center;vertical-align: middle;">${ value }</td>

        <td style="vertical-align: middle;width:400px"><div style="" id="slider-${ id }"></div></td>

        <td style="vertical-align: middle;text-align: center;"><input readonly type="text" id="val-${ id }" style="border:0; color:#f6931f; font-weight:bold;"  /></td>

        <td style="vertical-align: middle;">
            <button id="service-setmanagementproperty-button-${ id }" >Set</button>

        </td>
    </tr>
</script>

<script id="managementpropertyTemplate-choices" type="text/x-jquery-tmpl">
    <tr>
        <th>${ property}</th>
        <td class="${ property }" style="text-align: center;vertical-align: middle;">${ value }</td>

        <td style="vertical-align: middle;width:400px">
            <div id="managementradio-${id}" class="servicetyperadio">
            </div>
        </td>

        <td style="vertical-align: middle;text-align: center;"><input readonly type="text" id="val-${ id }" style="border:0; color:#f6931f; font-weight:bold;"  /></td>

        <td style="vertical-align: middle;">
            <button id="service-setmanagementproperty-button-${ id }" >Set</button>

        </td>
    </tr>
</script>

<script id="serviceOAuthTemplate" type="text/x-jquery-tmpl">
    
<div class="infoholder">
    <table cellpadding="0" cellspacing="0" style="margin-top:9px;margin-left: 12px;">
        <tr>
             {%templatetag openvariable%}if mfile_set[0] {%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url(${mfile_set[0].thumburl});"></td>
             {%templatetag openvariable%}else{%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
             {%templatetag openvariable%}/if{%templatetag closevariable%}

             {%templatetag openvariable%}if mfile_set[1] {%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url(${mfile_set[1].thumburl});"></td>
              {%templatetag openvariable%}else{%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
             {%templatetag openvariable%}/if{%templatetag closevariable%}
        </tr>
        <tr>
             {%templatetag openvariable%}if mfile_set[2] {%templatetag closevariable%}
                          <td style="background-image: url(${mfile_set[2].thumburl});"></td>
             {%templatetag openvariable%}else{%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
             {%templatetag openvariable%}/if{%templatetag closevariable%}

             {%templatetag openvariable%}if mfile_set[3] {%templatetag closevariable%}
                           <td class="service_preview_td" style="background-image: url(${mfile_set[3].thumburl});"></td>
             {%templatetag openvariable%}else{%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
             {%templatetag openvariable%}/if{%templatetag closevariable%}
        </tr>
    </table>

    <div id="image-${id}" class='fluid' onmouseover="$('#id-${id}').show();"
         onmouseout="$('#id-${id}').hide();" style="position: relative; top: -130px">

        <table cellpadding='0' cellspacing='0'  class='thumb' style="z-index: 2;">
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr><td>
                    <div class='title'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                    </div></td></tr>
            <tr><td>
                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>
                          <div>${mfile_set.length} files </div>
                          <div style="font-weight: bold">Latest Files :</div>

                          {%templatetag openvariable%}each mfile_set{%templatetag closevariable%}
                                <!-- Show Last 4 files -->
                              {%templatetag openvariable%}if $index < 4 {%templatetag closevariable%}
                                <div>${getShort($value.name,30)}</div>
                              {%templatetag openvariable%}/if{%templatetag closevariable%}
                          {%templatetag openvariable%}/each{%templatetag closevariable%}
                      </div>
                </td></tr>
            </tbody>
        </table>
        <form>
        <input type="checkbox" id="${id}" /><label for="${id}">Select</label>
        </form>
    </div>
</div>
</script>

<script id="authTemplate" type="text/x-jquery-tmpl">

    <div class="auth"><h3>Access : ${authname}</h3>
    <div><a href="/browse/${id}/" >View Auth </a> </div>
    <dl>
    {%templatetag openvariable%}each roles{%templatetag closevariable%}
        <dt >Role: ${rolename}</dt>
        <dd ><strong>${description}</strong></dd>
        <dd class="role-${id}">
        {%templatetag openvariable%}each methods{%templatetag closevariable%}
                ${$value}
        {%templatetag openvariable%}/each{%templatetag closevariable%}
        </dd>
        <!--<dd><button class="addmethods">Add Method</button>-->
    {%templatetag openvariable%}/each{%templatetag closevariable%}
    </dl>
    </div>

</script>

<script id="mfileDetailsTemplate" type="text/x-jquery-tmpl">
    <h3>Details</h3>
    <div id="message"></div>
    <table><tr><td>
        <dl>
            <dt>Name</dt>
            <dd>${name}</dd>
            <dt>Checksum</dt>
            <dd>${checksum}</dd>
            <dt>Mime</dt>
            <dd>${mimetype}</dd>
        </dl>
     </td><td>
        <dl>
            <dt>Created</dt>
            <dd>${created}</dd>
            <dt>Updated</dt>
            <dd>${updated}</dd>
            <dt>Size</dt>
            <dd>${size}</dd>
        </dl>
     </td></tr>
    </table>
    
</script>

<script id="mfileImageDetailsTemplate" type="text/x-jquery-tmpl">
        {% templatetag openvariable %}tmpl "#mfileDetailsTemplate" {% templatetag closevariable %}
        <div class="posterholder">
            <div class="poster" id="image-preview" style=" height: 256px; padding: 0.4em; position: relative;" >
                <img id="mfileposter" title="${name}" alt="${name}" src="${posterurl}" />
            </div>
        </div>
</script>

<script id="mfileUploadTemplate" type="text/x-jquery-tmpl">
    <div class="mfileUpload">
        <table>
            <tr>
                <td rowspan="2" class="file_upload_preview"></td>
                <td colspan="1">${getShort(name,20)}</td>
                <td class="file_upload_cancel">
                    <button class="ui-state-default ui-corner-all" title="Cancel">
                <span class="ui-icon ui-icon-cancel">Cancel</span>
                </button>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="file_upload_progress"><div></div></td>
            </tr>
        </table>
    </div>
</script>

<script id="mfileUploadCompleteTemplate" type="text/x-jquery-tmpl">

</script>

<script id="mfileVideoDetailsTemplate" type="text/x-jquery-tmpl">
        {% templatetag openvariable %}tmpl "#mfileDetailsTemplate" {% templatetag closevariable %}
        <p id="container1">Please install the Flash Plugin</p>
</script>

<script id="mfileRenderDetailsTemplate" type="text/x-jquery-tmpl">
        {% templatetag openvariable %}tmpl "#mfileDetailsTemplate" {% templatetag closevariable %}
</script>

<script id="usageTemplate" type="text/x-jquery-tmpl">

    {%templatetag openvariable%}if rate == 0 {%templatetag closevariable%}
        <tr><td>Usage of <a href='/browse/${id}'>${name}</a>&nbsp;</td><td><b>${metric}</b></td><td>at <b>${rateTime}</b> was<td><b>${total}</b></td></tr>
    {%templatetag openvariable%}else{%templatetag closevariable%}

        <tr><td>Usage of <a href='/browse/${id}'>${base}</a>&nbsp;</td><td><b>${metric}</b></td><td>at <b>${rateTime}</b> was<td><b>${rate} per second</b></td></tr>
    {%templatetag openvariable%}/if{%templatetag closevariable%}

</script>

<script id="usageSummaryTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td>${metric}</td>
        <td>${min}</td>
        <td>${max}</td>
        <td>${n}</td>
        <td>${avg}</td>
        <td>${stddev}</td>
        <td>${variance}</td>
    </tr>
</script>

<script id="jobResultTemplate" type="text/x-jquery-tmpl">
    <div>RESULT {% templatetag openvariable %} ${JSON.stringify(${})} {% templatetag closevariable %}</div>
</script>

<script id="jobTemplate" type="text/x-jquery-tmpl">
    <h5 id='jobheader-${id}' title="${name}, ${created}, ${id}" >${name}, ${created}, <em></em></h5>
    
    <div id='job-${id}' class='job'  >
        <table style='width:100%;'>
        <tr>
            <td width="2%"><span id='jobicon-${id}' class='ui-icon ui-icon-circle-check' ></span></td>
            <td width="25%"><div id='jobinfo-${id}' class='jobinfo' ><b>${tasks.completed_count}</b> task of <b>${tasks.total}</b> complete : ${tasks.percent}&#37; </div></td>
            <td width='*' ><div style='height:10px;' id='jobprogressbar-${id}'></div></td>
            <td width='5%' ><button id='jobdeletebutton-${id}'></button></td>
        <tr>
        </table>
        <div  id='joboutputs-${id}' >
        </div>
        <div  id='jobpreviewpaginator-${id}' class="jobpaginators" ></div>
    </div>
</script>

<script id="mfolderOAuthTemplate" type="text/x-jquery-tmpl">
<div class="infoholder">
    <div id="image-${id}" class='fluid' onmouseover="$('#id-${id}').show();"
                                         onmouseout="$('#id-${id}').hide();" >
            <table cellpadding='0' cellspacing='0' style='background-image:url("");' class='thumb'>
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr><td>
                    <div class='title'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                       </div></td></tr>
            <tr><td>

                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>

                    </div>

              </td></tr>
            <tr><td></td></tr>
            </tbody>
        </table>
        <form action="POST" target="/auth/">
        <input type="checkbox" id="${id}" /><label for="${id}">Select</label>
        </form>
    </div>
</div>
</script>

<script id="mfileOAuthTemplate" type="text/x-jquery-tmpl">
<div class="infoholder">
    <div id="image-${id}" class='fluid' onmouseover="$('#id-${id}').show();"
                                         onmouseout="$('#id-${id}').hide();" >
            <table cellpadding='0' cellspacing='0' style='background-image:url("${thumburl}/");' class='thumb'>
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr><td>
                    <div class='title'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                       </div></td></tr>
            <tr><td>

                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>
                      <div>Size: ${size}</div>
                      <div style='font-size: x-small;'>Type</div>
                      <div style='font-size: xx-small;text-align: center'>${mimetype}</div>
                      <div style='font-size: x-small;'>Created: ${created}</div>
                      <div style='font-size: x-small;'>Updated: ${updated}</div>
                      <div style='font-size: xx-small;'>Checksum:</div>
                      <div style='font-size: xx-small;text-align: center;'>${checksum}</div>
                    </div>

              </td></tr>
            <tr><td></td></tr>
            </tbody>
        </table>
        <form>
            <input type="checkbox" id="${id}" /><label for="${id}">Select</label>
        </form>

    </div>
</div>
</script>

<script id="mfileTemplate" type="text/x-jquery-tmpl">
<div class="infoholder">
    <div id="image-${id}" class='fluid' onmouseover="$('#id-${id}').show();"
                                         onmouseout="$('#id-${id}').hide();" >
            <table cellpadding='0' cellspacing='0' style='background-image:url("${thumburl}/");' class='thumb'>
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr><td>
                    <div class='title'>
                        <a href='/browse/${id}/'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                        </a></div></td></tr>
            <tr><td>
                    
                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>
                        <a href='/browse/${id}/'>
                          <div>Size: ${size}</div>
                          <div style='font-size: x-small;'>Type</div>
                          <div style='font-size: xx-small;text-align: center'>${mimetype}</div>
                          <div style='font-size: x-small;'>Created: ${created}</div>
                          <div style='font-size: x-small;'>Updated: ${updated}</div>
                          <div style='font-size: xx-small;'>Checksum:</div>
                          <div style='font-size: xx-small;text-align: center;'>${checksum}</div>
                    </a>
                        <button id="newjobbutton-${id}" ></button>
                      </div>
                    
                    
                </td></tr>
            </tbody>
        </table>
    </div>
</div>
</script>

<script id="jobOutputTemplate" type="text/x-jquery-tmpl">
    {%templatetag openvariable%}if mimetype.startsWith("image") {%templatetag closevariable%}
        <a target='_blank' href='/joboutputs/${id}/contents' ><img src='${thumburl}' /></a>
    {%templatetag openvariable%}else mimetype.startsWith("text") {%templatetag closevariable%}
        <div id="text-${id}" style="width:100%;height:200px;overflow: scroll;border: 1px inset silver;padding: 0px;margin: 5px;" ></div>
    {%templatetag openvariable%}else{%templatetag closevariable%}
        <a target='_blank' href='/joboutputs/${id}/contents' >Download</a>
    {%templatetag openvariable%}/if  {%templatetag closevariable%}
</script>

<div style="display:none">

    <div id="dialog-form" title="Create New Render">
	<p class="validateTips">Input start frame and end frame.</p>

        <form>
	<fieldset>
		<label for="name">Start</label>
		<input type="text" name="start" id="start" class="text ui-widget-content ui-corner-all" />
		<label for="email">End</label>
		<input type="text" name="end" id="end" value="" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
    </div>

    <div id="dialog-add-role-dialog-form" title="Add Role">
	<p class="validateTips">Input the method name.</p>

        <form>
	<fieldset>
		<label for="name">Methods</label>
		<input type="text" name="methods" id="methods" value="" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
    </div>

    <div id="dialog-add-methods-dialog-form" title="Share">
	<p class="validateTips">Share methods.</p>

        <form>
	<fieldset>
		<label for="authmethods">Methods</label>
		<input type="text" name="authmethods" id="authmethods" value="" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
    </div>

    <div id="dialog-new-job-dialog-form" title="New Job">
        <form id="new-job-form">
            <!-- Can only support 1 input -->
            <label for="serviceid">Service</label>
            <input style="width:300px" id="serviceid" value="" type="text" name="serviceid" />
            <label for="mfile">MFile</label>
            <input style="width:300px" id="mfileid" value="" type="text" name="mfileid" />
	<fieldset>

		<label for="jobtype">Job</label>
                <select name="jobtype" id="jobtype"></select>
                <label for="inputs">Inputs</label>
                <div id="inputsmessage" ></div>
                <fieldset name="inputs" id="inputs">

                </fieldset>
                <label for="args">Arguments</label>
                <div id="argsmessage" ></div>
                <fieldset name="args" id="args">
                    
                </fieldset>
	</fieldset>
	</form>
    </div>

   <div id="dialog-mfile-dialog" title="Delete the file?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>

    <div id="dialog-job-dialog" title="Delete The Job?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>

</div>