<script id="mserveTemplate" type="text/x-jquery-tmpl">

    <table style="table-layout: fixed;width: 100%;" border="0">
        <tr>
            <td style="width: 20%">
                <button id="mserve-new-folder-button">New Folder</button>
                <div id="mfoldertreecontainer"></div></td>
            <td style="width: 60%">
                <ul id="qscontainer" ></ul>
            </td>
        </tr>
    </table>

</script>

<script id="requestTemplate" type="text/x-jquery-tmpl">
    <div id="request-${id}" class="ui-widget" style="margin: 1px;">
        <div class="ui-state-highlight ui-corner-all" style="padding: 0 .4em;">
            <p>
                {%templatetag openvariable%}if state == "P" {%templatetag closevariable%}
                    <span class="ui-icon ui-icon-info" style="float: left; margin-right: .1em;"></span>
                {%templatetag openvariable%}/if{%templatetag closevariable%}

                {%templatetag openvariable%}if state == "A" {%templatetag closevariable%}
                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin-right: .1em;"></span>
                {%templatetag openvariable%}/if{%templatetag closevariable%}

                {%templatetag openvariable%}if state == "R" {%templatetag closevariable%}
                    <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .1em"></span>
                {%templatetag openvariable%}/if{%templatetag closevariable%}

                {%templatetag openvariable%}if isStaff {%templatetag closevariable%}
                <span><strong>Request From </strong><span class="red">${ profile.user.username }</span></span>&nbsp;:
                {%templatetag openvariable%}/if{%templatetag closevariable%}
               

                {%templatetag openvariable%}if state == "R" {%templatetag closevariable%}
                    <span style="font-weight: bold;color:red">${ status }</span>
                {%templatetag openvariable%}else{%templatetag closevariable%}
                    <span style="font-weight: bold">${ status }</span>
                {%templatetag openvariable%}/if{%templatetag closevariable%}

                {%templatetag openvariable%}if isStaff && state == "P" {%templatetag closevariable%}
                    <button style="" id="approve-button-${id}">Approve</button>
                    <button style="" id="reject-button-${id}">Reject</button>
                {%templatetag openvariable%}/if{%templatetag closevariable%}

                {%templatetag openvariable%}if !isStaff && state == "P" {%templatetag closevariable%}
                    <button style="float: right" id="delete-button-${id}">Delete</button>
                {%templatetag openvariable%}/if{%templatetag closevariable%}
                
            </p>
            <p>
                <span><strong>Requested Name : </strong>${ name }</span>
            </p>
            <p>
                <span><strong>Time : </strong>${ ctime }</span>
            </p>
            <p>
                <span><strong>Reason for request: </strong>${ reason }</span>
            </p>
        </div>
    </div>
</script>

<script id="strongMessageTemplate" type="text/x-jquery-tmpl">
    <div class="${cl} ui-widget" style="margin: 2px;">
        <div class="ui-state-error ui-corner-all" style="padding: 0 .4em;">
            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span><strong>${ message }</strong></p>
        </div>
    </div>
</script>

<script id="messageTemplate" type="text/x-jquery-tmpl">
    <div class="${cl} ui-widget" style="margin: 2px;">
        <div class="ui-state-highlight ui-corner-all" style="padding: 0 .4em;">
                <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>${ message }</p>
        </div>
    </div>
</script>

<script id="containerTemplate" type="text/x-jquery-tmpl">
    
        <div class="infoholder">
            <table cellpadding="0" cellspacing="0" style="margin-top:9px;margin-left: 12px;">
                 {%templatetag openvariable%}each(i,val) [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]   {%templatetag closevariable%}
                 
                 {%templatetag openvariable%}if i%4==0 {%templatetag closevariable%}
                 <tr>
                 {%templatetag openvariable%}/if{%templatetag closevariable%}

                 <td class="container_preview_td" style="background-image: url(${thumbs[i]});"></td>

                {%templatetag openvariable%}if i%4==3 {%templatetag closevariable%}
                 </tr>
                 {%templatetag openvariable%}/if{%templatetag closevariable%}

                {%templatetag openvariable%}/each{%templatetag closevariable%}
            </table>

            <div id="image-${id}" class='fluid' style="position: relative; top: -130px"
                 {%templatetag openvariable%}if !mobile_browser {%templatetag closevariable%}
                    onmouseover="$('#id-${id}').show();"
                    onmouseout="$('#id-${id}').hide();"
                 {%templatetag openvariable%}/if{%templatetag closevariable%}
                 >

                <table cellpadding='0' cellspacing='0'  class='thumb' style="z-index: 2;">
                    <colgroup><col>
                    </colgroup>
                    <tbody>
                    <tr><td>
                            <div class='title'>
                                <a href='/browse/${id}/'>
                                        {% autoescape off %}
                                            ${getShort(name,20)}
                                        {% endautoescape  %}
                                        &nbsp;(${dataservice_set.length})
                                </a></div></td></tr>
                    <tr><td>
                            <a href='/browse/${id}/'>
                            <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>
                                  <div>${dataservice_set.length} files </div>
                                  <div style="font-weight: bold">Latest Services :</div>

                                  {%templatetag openvariable%}each dataservice_set{%templatetag closevariable%}
                                        <!-- Show Last 4 files -->
                                      {%templatetag openvariable%}if $index < 4 {%templatetag closevariable%}
                                        <div>${getShort($value.name,30)}</div>
                                      {%templatetag openvariable%}/if{%templatetag closevariable%}
                                  {%templatetag openvariable%}/each{%templatetag closevariable%}
                              </div>
                            </a>
                        </td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        
</script>

<script id="serviceTemplate" type="text/x-jquery-tmpl">

<div class="infoholder">
    <table cellpadding="0" cellspacing="0" style="margin-top:9px;margin-left: 12px;">


               {%templatetag openvariable%}each(i,val) [0,1,2,3]   {%templatetag closevariable%}

                 {%templatetag openvariable%}if i%4==0 {%templatetag closevariable%}
                 <tr>
                 {%templatetag openvariable%}/if{%templatetag closevariable%}

                 <td class="service_preview_td" style="background-image: url(${thumbs[i]});"></td>

                {%templatetag openvariable%}if i%4==1 {%templatetag closevariable%}
                 </tr>
                 {%templatetag openvariable%}/if{%templatetag closevariable%}

                {%templatetag openvariable%}/each{%templatetag closevariable%}


    </table>

    <div id="image-${id}" class='fluid'
                 {%templatetag openvariable%}if !mobile_browser {%templatetag closevariable%}
                    onmouseover="$('#id-${id}').show();"
                    onmouseout="$('#id-${id}').hide();"
                 {%templatetag openvariable%}/if{%templatetag closevariable%}
                    style="position: relative; top: -130px">

        <table cellpadding='0' cellspacing='0'  class='thumb' style="z-index: 2;">
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr><td>
                    <div class='title'>
                        <a href='/browse/${id}/'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                        </a></div></td></tr>
            <tr>
                <td>
                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>
                        <a href='/browse/${id}/'>
                          <div>${mfile_set.length} files </div>
                          <div style="font-weight: bold">Latest Files :</div>

                          {%templatetag openvariable%}each mfile_set{%templatetag closevariable%}
                                <!-- Show Last 4 files -->
                              {%templatetag openvariable%}if $index < 4 {%templatetag closevariable%}
                                <div>${getShort($value.name,30)}</div>
                              {%templatetag openvariable%}/if{%templatetag closevariable%}
                          {%templatetag openvariable%}/each{%templatetag closevariable%}
                        </a>

                        <button id="newsubservicebutton-${id}" onclick="create_subservice('${id}','${containerid}')"  >New SubService</button>

                      </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</script>

<script id="managementpropertyTemplate-steps" type="text/x-jquery-tmpl">
    <tr>
        <th>${ property}</th>
        <td class="${ property } red" style="text-align: center;vertical-align: middle;">${ value }</td>

        <td style="vertical-align: middle;width:400px"><div style="" id="slider-${ id }"></div></td>

        <td style="vertical-align: middle;text-align: center;"><input readonly type="text" id="val-${ id }" style="border:0; color:#f6931f; font-weight:bold;"  /></td>

        <td style="vertical-align: middle;">
            <button id="service-setmanagementproperty-button-${ id }" >Set</button>

        </td>

        <td style="vertical-align: middle;">
            <div id="managementalts-${id}">
            </div>
        </td>

    </tr>
</script>

<script id="managementpropertyTemplate-choices" type="text/x-jquery-tmpl">
    <tr>
        <th>${ property}</th>
        <td class="${ property } red" style="text-align: center;vertical-align: middle;">${ value }</td>

        <td colspan="2" style="vertical-align: middle;width:400px">
            <div id="managementradio-${id}" class="servicetyperadio">
            </div>
        </td>


        <td style="vertical-align: middle;">
            <button id="service-setmanagementproperty-button-${ id }" >Set</button>

        </td>
                <td style="vertical-align: middle;text-align: center;"><input readonly type="text" id="val-${ id }" style="border:0; color:#f6931f; font-weight:bold;"  /></td>

    </tr>
</script>

<script id="serviceOAuthTemplate" type="text/x-jquery-tmpl">
    
<div class="infoholder">
    <table cellpadding="0" cellspacing="0" style="margin-top:9px;margin-left: 12px;">
        <tr>
             {%templatetag openvariable%}if mfile_set[0] {%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url(${mfile_set[0].thumburl});"></td>
             {%templatetag openvariable%}else{%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
             {%templatetag openvariable%}/if{%templatetag closevariable%}

             {%templatetag openvariable%}if mfile_set[1] {%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url(${mfile_set[1].thumburl});"></td>
              {%templatetag openvariable%}else{%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
             {%templatetag openvariable%}/if{%templatetag closevariable%}
        </tr>
        <tr>
             {%templatetag openvariable%}if mfile_set[2] {%templatetag closevariable%}
                          <td style="background-image: url(${mfile_set[2].thumburl});"></td>
             {%templatetag openvariable%}else{%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
             {%templatetag openvariable%}/if{%templatetag closevariable%}

             {%templatetag openvariable%}if mfile_set[3] {%templatetag closevariable%}
                           <td class="service_preview_td" style="background-image: url(${mfile_set[3].thumburl});"></td>
             {%templatetag openvariable%}else{%templatetag closevariable%}
                          <td class="service_preview_td" style="background-image: url('/mservemedia/images/text-x-generic-template.png');"></td>
             {%templatetag openvariable%}/if{%templatetag closevariable%}
        </tr>
    </table>

    <div id="image-${id}" class='fluid'
                          {%templatetag openvariable%}if !mobile_browser {%templatetag closevariable%}
                    onmouseover="$('#id-${id}').show();"
                    onmouseout="$('#id-${id}').hide();"
                 {%templatetag openvariable%}/if{%templatetag closevariable%}
                 style="position: relative; top: -130px">

        <table cellpadding='0' cellspacing='0'  class='thumb' style="z-index: 2;">
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr><td>
                    <div class='title'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                    </div></td></tr>
            <tr><td>
                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>
                          <div>${mfile_set.length} files </div>
                          <div style="font-weight: bold">Latest Files :</div>

                          {%templatetag openvariable%}each mfile_set{%templatetag closevariable%}
                                <!-- Show Last 4 files -->
                              {%templatetag openvariable%}if $index < 4 {%templatetag closevariable%}
                                <div>${getShort($value.name,30)}</div>
                              {%templatetag openvariable%}/if{%templatetag closevariable%}
                          {%templatetag openvariable%}/each{%templatetag closevariable%}
                      </div>
                </td></tr>
            </tbody>
        </table>
        <form>
        <input type="checkbox" id="${id}" /><label for="${id}">Select</label>
        </form>
    </div>
</div>
</script>

<script id="profileTemplate" type="text/x-jquery-tmpl">
    <h3 class="red" style="margin-left:15px;">Profile ${name}</h3>
        <div class="workflows">
        {%templatetag openvariable%}each(index,workflow) workflows{%templatetag closevariable%}
                <h3 class="red"><a href="#">Workflow ${workflow.name}</a></h3>
                <div>
                <table class="workflowtable" id="workflowtable-${id}" border="0" >
                    <tr><th style="width: 16%">Tasks</th><th style="width: 20%">Condition</th>
                        <!--th style="width: 12%">Remote Execution</th><th style="width: 12%">Remote Trigger</th--><th style="">Parameters</th></tr>

                        {%templatetag openvariable%}if workflow.tasks.length == 0 {%templatetag closevariable%}
                        <tr>
                            <td class="red">No Tasks</td>
                        </tr>
                        {%templatetag openvariable%}/if{%templatetag closevariable%}

                        {% templatetag openvariable %}tmpl(workflow.tasks) "#taskTemplate" {% templatetag closevariable %}

                        <tbody style="border: 1px solid red;" class="workflowtbody">
                        <tr>
                            <td><span class="red">Add New</span></td>
                        </tr>
                        <tr>
                            <form id="newtaskform-workflow-${id}">
                            <td>
                                <input type="hidden" style="width: 96%" id="id_workflow" name="workflow" value="${id}" >
                                <input type="text" style="width: 96%" value="" name="task_name" id="id_task_name" class="task_name" ></td>
                            <td>
                                <input type="text" style="width: 96%" value="" id="id_condition" name="condition" >
                            </td>
                            <!--td>
     
                            </td>
                            <td>
                                <input type="text" style="width: 96%" value="" id="id_remotecondition" name="remotecondition" >
                            </td-->
                            <td>
                                <textarea style="width: 96%;border: 1px dotted silver" NAME="args" COLS=30 ROWS=1" name="args">{}</textarea>
                            </td>
                            </form>
                            <td>
                                <button id="addbutton-workflow-${id}">Add</button>
                            </td>
                        </tr>
                        </tbody>
                </table>
                    
                </div>
        {%templatetag openvariable%}/each{%templatetag closevariable%}
        </div>

</script>

<script id="taskTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td class="green">${task_name}</td>
        <td>
            <input type="text" style="width: 96%" value="${condition}" >
        </td>
        <!--td>
                <div id="allowremotecheck-${id}">
            {%templatetag openvariable%}if allowremote {%templatetag closevariable%}
                <input style="display: inline-block" type="radio" name="radio-${id}" id="check-${id}-1" checked="checked" /><label for="check-${id}-1"></label>
                <input style="display: inline-block" type="radio" name="radio-${id}" id="check-${id}-2" /><label for="check-${id}-2">No</label>
            {%templatetag openvariable%}else{%templatetag closevariable%}
                <input style="display: inline-block" type="radio" name="radio-${id}"  id="check-${id}-1" /><label for="check-${id}-1">Yes</label>
                <input style="display: inline-block" type="radio" name="radio-${id}"  id="check-${id}-2" checked="checked" /><label for="check-${id}-2">No</label>
            {%templatetag openvariable%}/if{%templatetag closevariable%}
            </div>
        </td>
        <td>
            <input type="text" style="width: 96%" value="${remotecondition}" >
        </td-->
        <td>
            <textarea style="width: 96%;border: 1px dotted silver" NAME="comments" COLS=30 ROWS=1 id="id_args-${id}">${args}</textarea>
        </td>
        <td>
            <button class="savebutton">Save</button>
            <button class="delbutton">Delete</button>
        </td>
    <tr>
</script>

<script id="authTemplate" type="text/x-jquery-tmpl">

<div class="infoholder" id="mfileholder-${id}" >
    <div id="image-${id}" class='fluid'
                {%templatetag openvariable%}if !mobile_browser {%templatetag closevariable%}
                    onmouseover="$('#id-${id}').show();"
                    onmouseout="$('#id-${id}').hide();"
                 {%templatetag openvariable%}/if{%templatetag closevariable%}
                >
        <a href='/browse/${id}/'>
            <table id="mfile-table-${id}" cellpadding='0' cellspacing='0' style='background-image:url("${thumburl}");' class='thumb'>
            <tbody>
            <tr>
                <td>
                    <div class='title'>
                        {% autoescape off %}
                                    ${getShort(authname+" access to "+ basename,20)}
                        {% endautoescape  %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>
                        ${authname} access to ${basename}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </a>
    </div>

</div>

</script>


<script id="mfileDetailsTemplate" type="text/x-jquery-tmpl">
    <h3>Details</h3>
    <div id="message"></div>
    <table><tr><td>
        <dl>
            <dt>Name</dt>
            <dd>${name}</dd>
            <dt>Checksum</dt>
            <dd>${checksum}</dd>
            <dt>Mime</dt>
            <dd>${mimetype}</dd>
        </dl>
     </td><td>
        <dl>
            <dt>Created</dt>
            <dd>${created}</dd>
            <dt>Updated</dt>
            <dd>${updated}</dd>
            <dt>Size</dt>
            <dd>${size}</dd>
        </dl>
     </td></tr>
    </table>
    
</script>

<script id="mfileImageDetailsTemplate" type="text/x-jquery-tmpl">
        {% templatetag openvariable %}tmpl "#mfileDetailsTemplate" {% templatetag closevariable %}
        <div class="posterholder">
            <div class="poster" id="image-preview" style=" height: 256px; padding: 0.4em; position: relative;" >
                <img id="mfileposter" title="${name}" alt="${name}" src="${posterurl}" />
            </div>
        </div>
</script>

<script id="mfileUploadFailedTemplate" type="text/x-jquery-tmpl">
    <div class="mfileUpload">
        <table>
            <tr>
                <td rowspan="2" class="file_upload_preview"></td>
                <td colspan="1" class="ui-state-error-text">${error}</td>
                <td class="file_upload_cancel">
                    <button class="ui-state-default ui-corner-all" title="Cancel">
                <span class="ui-icon ui-icon-cancel">Cancel</span>
                </button>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="file_upload_progress"><div></div></td>
            </tr>
        </table>
    </div>
</script>

<script id="mfileUploadTemplate" type="text/x-jquery-tmpl">
    <div class="mfileUpload">
        <table>
            <tr>
                <td rowspan="2" class="file_upload_preview"></td>
                <td colspan="1">${getShort(name,20)}</td>
                <td class="file_upload_cancel">
                    <button class="ui-state-default ui-corner-all" title="Cancel">
                <span class="ui-icon ui-icon-cancel">Cancel</span>
                </button>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="file_upload_progress"><div></div></td>
            </tr>
        </table>
    </div>
</script>

<script id="mfileUploadCompleteTemplate" type="text/x-jquery-tmpl">

</script>

<script id="mfileVideoDetailsTemplate" type="text/x-jquery-tmpl">
        {% templatetag openvariable %}tmpl "#mfileDetailsTemplate" {% templatetag closevariable %}
        <p id="container1">Please install the Flash Plugin</p>
</script>

<script id="mfileRenderDetailsTemplate" type="text/x-jquery-tmpl">
        {% templatetag openvariable %}tmpl "#mfileDetailsTemplate" {% templatetag closevariable %}
</script>

<script id="usageTemplate" type="text/x-jquery-tmpl">

    {%templatetag openvariable%}if rate == 0 {%templatetag closevariable%}
        <tr><td>Usage of <a href='/browse/${id}'>${name}</a>&nbsp;</td><td><b>${metric}</b></td><td>at <b>${rateTime}</b> was<td><b>${total}</b></td></tr>
    {%templatetag openvariable%}else{%templatetag closevariable%}

        <tr><td>Usage of <a href='/browse/${id}'>${base}</a>&nbsp;</td><td><b>${metric}</b></td><td>at <b>${rateTime}</b> was<td><b>${rate} per second</b></td></tr>
    {%templatetag openvariable%}/if{%templatetag closevariable%}

</script>

<script id="usageSummaryTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td>${metric}</td>
        <td>${number_format(min, 2, '.', ',')}</td>
        <td>${number_format(max, 2, '.', ',')}</td>
        <td>${number_format(n, 0, '.', ',')}</td>
        <td>${number_format(avg, 2, '.', ',')}</td>
        <td>${number_format(sum, 2, '.', ',')}</td>
        <td>${number_format(stddev, 2, '.', ',')}</td>
        <td>${number_format(variance, 2, '.', ',')}</td>
    </tr>
</script>

<script id="graphLabelTemplate" type="text/x-jquery-tmpl">
    <div>
    <div class="graphlabel ui-widget-content ui-corner-all" >
        ${label}<br/>
        ${Math.round( series.percent) }% (${series.data[0][1]})
    </div>
    </div>
</script>

<script id="graphTemplate" type="text/x-jquery-tmpl">
    <table class="graphtable graphtable-${type} graphtable-${size}">
        <tr><th>${label}</th></tr>
        <tr><td><div class='graph' style="width:95%;height:200px;"></div></td></tr>
    </table>
</script>

<script id="jobResultTemplate" type="text/x-jquery-tmpl">
    <div>RESULT {% templatetag openvariable %} ${JSON.stringify(${})} {% templatetag closevariable %}</div>
</script>

<script id="jobTemplate" type="text/x-jquery-tmpl">
    <h5 id='jobheader-${id}' title="${name}, ${created}, ${id}" >${name}, ${created}, <em></em></h5>
    
    <div id='job-${id}' class='job'  >
        <table style='width:100%;'>
        <tr  VALIGN=MIDDLE>
            {%templatetag openvariable%}if tasks.successful {%templatetag closevariable%}
                <td width="2%"><span id='jobicon-${id}' class='ui-icon ui-icon-circle-check' ></span></td>
            {%templatetag openvariable%}else{%templatetag closevariable%}
                <td width="2%"><span id='jobicon-${id}' class='ui-icon ui-icon-circle-close' ></span></td>
            {%templatetag openvariable%}/if{%templatetag closevariable%}
            <td width="25%"><div id='jobinfo-${id}' class='jobinfo' ><b>${tasks.completed_count}</b> task of <b>${tasks.total}</b> complete : ${tasks.percent}&#37; </div></td>
            <th width='*' ><div style='height:10px;' id='jobprogressbar-${id}'></div></th>
            <td width='5%' ><button id='jobdeletebutton-${id}'></button></td>
            <th width="8%"><div id='jobinfo-${id}' class='jobinfo' >${joboutput_set.length} output(s)</div></th>
        <tr>
        </table>
        <div  id='joboutputs-${id}' ></div>
        <div  id='jobpreviewpaginator-${id}' class="jobpaginators" ></div>
    </div>
</script>

<script id="jobTaskResultTemplate" type="text/x-jquery-tmpl">
    {%templatetag openvariable%}if success {%templatetag closevariable%}
        <div class="taskholder"><b>Task :</b>
            <span style='color:green' >Name</span> - <span style='color:blue' >${name}</span>
            <span style='color:green' >Message</span> - <span style='color:blue' >
                    {%templatetag openvariable%}if result {%templatetag closevariable%}
                        <span>${result.message}</span>
                    {%templatetag openvariable%}/if{%templatetag closevariable%}
            </span>
            <div style="padding-left: 20px;"><b>Result :</b><span style="font-family: Courier">${JSON.stringify($item["data"]["result"],replacer)}</span></div>
        </div>
    {%templatetag openvariable%}else{%templatetag closevariable%}
    <div class="taskholder">
        <b>Task :</b>
            <span style='color:green' >Name</span> - <span style='color:red' >${name}</span>
            {%templatetag openvariable%}if state{%templatetag closevariable%}
                {%templatetag openvariable%}if state == "PENDING" {%templatetag closevariable%}
                    <span class="spinner"></span>
                {%templatetag openvariable%}/if{%templatetag closevariable%}
            {%templatetag openvariable%}/if{%templatetag closevariable%}
            {%templatetag openvariable%}if result {%templatetag closevariable%}
                <div style="padding-left: 20px;"><b>Result :</b><span style="font-family: Courier">${JSON.stringify($item["data"]["result"],replacer)}</span></div>
            {%templatetag openvariable%}/if{%templatetag closevariable%}
        </div>
    {%templatetag openvariable%}/if  {%templatetag closevariable%}
</script>


<script id="mfolderOAuthTemplate" type="text/x-jquery-tmpl">
<div class="infoholder">
    <div id="image-${id}" class='fluid'
                 {%templatetag openvariable%}if !mobile_browser {%templatetag closevariable%}
                    onmouseover="$('#id-${id}').show();"
                    onmouseout="$('#id-${id}').hide();"
                 {%templatetag openvariable%}/if{%templatetag closevariable%}
                 >
            <table cellpadding='0' cellspacing='0' style='background-image:url("");' class='thumb'>
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr><td>
                    <div class='title'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                       </div></td></tr>
            <tr><td>

                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>

                    </div>

              </td></tr>
            <tr><td></td></tr>
            </tbody>
        </table>
        <form action="POST" target="/auth/">
        <input type="checkbox" id="${id}" /><label for="${id}">Select</label>
        </form>
    </div>
</div>
</script>

<script id="mfileOAuthTemplate" type="text/x-jquery-tmpl">
<div class="infoholder">
    <div id="image-${id}" class='fluid'
                 {%templatetag openvariable%}if !mobile_browser {%templatetag closevariable%}
                    onmouseover="$('#id-${id}').show();"
                    onmouseout="$('#id-${id}').hide();"
                 {%templatetag openvariable%}/if{%templatetag closevariable%}
                 >
            <table id="mfile-table-${id}" cellpadding='0' cellspacing='0' style='background-image:url("${thumburl}");' class='thumb'>
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr><td>
                    <div class='title'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                       </div></td></tr>
            <tr><td>

                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>
                      <div>Size: ${size}</div>
                      <div style='font-size: x-small;'>Type</div>
                      <div style='font-size: xx-small;text-align: center'>${mimetype}</div>
                      <div style='font-size: x-small;'>Created: ${created}</div>
                      <div style='font-size: x-small;'>Updated: ${updated}</div>
                      <div style='font-size: xx-small;'>Checksum:</div>
                      <div style='font-size: xx-small;text-align: center;'>${checksum}</div>
                    </div>

              </td></tr>
            <tr><td></td></tr>
            </tbody>
        </table>
        <form>
            <input type="checkbox" id="${id}" /><label for="${id}">Select</label>
        </form>

    </div>
</div>
</script>

<script id="mfolderTemplate" type="text/x-jquery-tmpl">

 {%templatetag openvariable%}if parent {%templatetag closevariable%}
    <li class="infoholder ${parent.id}" data-id="mfolderholder-${id}" id="mfolderholder-${id}"  style="display: inline"  onclick="showMFolder('${id}');"  >
 {%templatetag openvariable%}else{%templatetag closevariable%}
    <li class="infoholder rootfolder" data-id="mfolderholder-${id}" id="mfolderholder-${id}" style="display: inline"  onclick="showMFolder('${id}');"  >
 {%templatetag openvariable%}/if{%templatetag closevariable%}

    <div id="image-${id}" class='fluid'
                  {%templatetag openvariable%}if !mobile_browser {%templatetag closevariable%}
                    onmouseover="$('#id-${id}').show();"
                    onmouseout="$('#id-${id}').hide();"
                 {%templatetag openvariable%}/if{%templatetag closevariable%}
            >
            <table id="mfile-table-${id}" cellpadding='0' cellspacing='0'  class='thumb' style="background-image: url(/mservemedia/images/icon_generic_120x120.png)">
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr>
                <td>
                    <div class='title'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</li>
</script>

<script id="mfileTemplate" type="text/x-jquery-tmpl">
    
 {%templatetag openvariable%}if folder {%templatetag closevariable%}
    <li class="infoholder ${folder.id} ${id}" data-id="mfileholder-${id}"  id="mfileholder-${id}" style="display: inline" >
 {%templatetag openvariable%}else{%templatetag closevariable%}
    <li class="infoholder rootfolder ${id}" data-id="mfileholder-${id}" id="mfileholder-${id}" style="display: inline" >
 {%templatetag openvariable%}/if{%templatetag closevariable%}

    <div id="image-${id}" class='fluid'
                  {%templatetag openvariable%}if !mobile_browser {%templatetag closevariable%}
                    onmouseover="$('#id-${id}').show();"
                    onmouseout="$('#id-${id}').hide();"
                 {%templatetag openvariable%}/if{%templatetag closevariable%}
            >
            <table id="mfile-table-${id}" cellpadding='0' cellspacing='0' style='background-image:url("${thumburl}");' class='thumb'>
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr><td>
                    <div class='title'>
                        <a href='/browse/${id}/'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                        </a></div></td></tr>
            <tr><td>

                    <div class='info' style='background-image: url(/mservemedia/images/transparent-white.png); position:relative' id='id-${id}'>
                        <a href='/browse/${id}/'>
                          <div>Size: ${size}</div>
                          <div style='font-size: x-small;'>Type</div>
                          <div style='font-size: xx-small;text-align: center'>${mimetype}</div>
                          <div style='font-size: x-small;'>Created: ${created}</div>
                          <div style='font-size: x-small;'>Updated: ${updated}</div>
                          <div style='font-size: xx-small;'>Checksum:</div>
                          <div style='font-size: xx-small;text-align: center;'>${checksum}</div>
                    </a>
                        <button id="newjobbutton-${id}" onclick="showmfiledialog('${id}')" >New Job</button>
                        <button id="deletemfilebutton-${id}" onclick="mfile_delete('${id}')" >Delete</button>
                      </div>
                </td></tr>
            </tbody>
        </table>
    </div>

    {%templatetag openvariable%}if mimetype{%templatetag closevariable%}

        {%templatetag openvariable%}if mimetype.startsWith("video") || name.endsWith("mxf")  {%templatetag closevariable%}
        <div style="height: 50px;width: 50px;position: relative;left:195px;top:0px;background-image: url('/mservemedia/images/icon_video.png') ;background-repeat: no-repeat;" ></div>
        {%templatetag openvariable%}else mimetype.startsWith("text") {%templatetag closevariable%}
        <div style="height: 50px;width: 50px;position: relative;left:195px;top:0px;background-image: url('/mservemedia/images/icon_text.png') ;background-repeat: no-repeat;" ></div>
        {%templatetag openvariable%}else mimetype.startsWith("image") {%templatetag closevariable%}
        <div style="height: 50px;width: 50px;position: relative;left:195px;top:0px;background-image: url('/mservemedia/images/icon_image.png') ;background-repeat: no-repeat;" ></div>
         {%templatetag openvariable%}else{%templatetag closevariable%}
        <div style="height: 50px;width: 50px;position: relative;left:195px;top:0px;background-image: url('/mservemedia/images/icon_generic.png') ;background-repeat: no-repeat;" ></div>
        {%templatetag openvariable%}/if{%templatetag closevariable%}

    {%templatetag openvariable%}/if{%templatetag closevariable%}

    
</li>
</script>

<script id="mfileChooserTemplate" type="text/x-jquery-tmpl">
<div id="${id}" class="infoholder mfile-chooser">
    <div  class='fluid' >
            <table cellpadding='0' cellspacing='0' style='' class='thumb'>
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr>
                <td>
                    <div class='title'>Choose</div>
                </td>
            </tr>
            <tr>
                <td>
                   <div style=';background-image: url(/mservemedia/images/transparent-white.png); position:relative' >
                       <button >Choose</button>
                   </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</script>

<script id="mfileNoActionTemplate" type="text/x-jquery-tmpl">
<div class="infoholder">
    <div id="image-${id}" class='fluid' >
            <table id="mfile-table-${id}" cellpadding='0' cellspacing='0' style='background-image:url("${thumburl}");' class='thumb'>
            <colgroup><col>
            </colgroup>
            <tbody>
            <tr><td>
                    <div class='title'>
                                {% autoescape off %}
                                    ${getShort(name,20)}
                                {% endautoescape  %}
                        </div></td></tr>
            <tr><td>
                    <div style=';background-image: url(/mservemedia/images/transparent-white.png); position:relative' >
                          <div>Size: ${size}</div>
                          <div style='font-size: x-small;'>Type</div>
                          <div style='font-size: xx-small;text-align: center'>${mimetype}</div>
                          <div style='font-size: x-small;'>Created: ${created}</div>
                          <div style='font-size: x-small;'>Updated: ${updated}</div>
                          <div style='font-size: xx-small;'>Checksum:</div>
                          <div style='font-size: xx-small;text-align: center;'>${checksum}</div>
                      </div>
                </td></tr>
            </tbody>
        </table>
    </div>
</div>
</script>

<script id="importdialogTemplate" type="text/x-jquery-tmpl">
    <div id="import-dialog-form" title="Import Data">
        <p id="import-dialog-items"></p>
    </div>
</script>

<script id="dialogTemplate" type="text/x-jquery-tmpl">
    
    <div id="${id}" title="${title}">
        <form>
            <div  class="ui-widget" style="margin: 2px;">
                <div class="ui-corner-all" style="padding: 0 .1em;">
                    <p>${message}</p>
                </div>
            </div>
        </form>
    </div>

</script>

<script id="jobOutputTemplate" type="text/x-jquery-tmpl">
    {%templatetag openvariable%}if thumburl != "" {%templatetag closevariable%}
        <a  target='_blank' href='/joboutputs/${id}/contents' ><img id="joboutput-${id}" src='${thumburl}' /></a>
    {%templatetag openvariable%}else mimetype.startsWith("text") {%templatetag closevariable%}
        <div id="text-${id}" style="width:100%;height:200px;overflow: scroll;border: 1px inset silver;padding: 0px;margin: 5px;" ></div>
    {%templatetag openvariable%}else{%templatetag closevariable%}
        <a target='_blank' href='/joboutputs/${id}/contents' style="color:green;font-weight: bold;font-variant: small-caps;font-size: large" >Download Output</a>
    {%templatetag openvariable%}/if  {%templatetag closevariable%}
</script>

<div style="display:none">

    <div id="dialog-choose-mfile-dialog-form" title="Choose Mfile">
        <p>Choose an MFile<p>
        <div id="dialog-choose-mfile-mfileholder"></div>
    </div>

    <div id="dialog-form" title="Create New Render">
	<p class="validateTips">Input start frame and end frame.</p>

        <form>
	<fieldset>
		<label for="name">Start</label>
		<input type="text" name="start" id="start" class="text ui-widget-content ui-corner-all" />
		<label for="email">End</label>
		<input type="text" name="end" id="end" value="" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
    </div>

    <div id="dialog-add-role-dialog-form" title="Add Role">
	<p class="validateTips">Input the method name.</p>

        <form>
	<fieldset>
		<label for="name">Methods</label>
		<input type="text" name="methods" id="methods" value="" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
    </div>

    <div id="dialog-add-methods-dialog-form" title="Share">
	<p class="validateTips">Share methods.</p>

        <form>
	<fieldset>
		<label for="authmethods">Methods</label>
		<input type="text" name="authmethods" id="authmethods" value="" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
    </div>

    <div id="dialog-new-job-dialog-form" title="New Job">
        <span id="job-input-preview"></span>
        <span id="job-extra-input-preview"></span>
        <form id="new-job-form" style="clear: both;">
            
            <!-- Can only support 1 input -->
            <!--<label for="serviceid">Service</label>-->
            <input style="width:300px" id="serviceid" value="" type="hidden" name="serviceid" />
            <!--<label for="mfile">MFile</label>-->
            <input style="width:300px" id="mfileid" value="" type="hidden" name="mfileid" />
	<fieldset>

		<label for="jobtype">Job</label>
                <select name="jobtype" id="jobtype"></select>

                <fieldset name="inputs" id="inputs">
                    <!-- Filled dynamically -->
                </fieldset>
                
                <label for="args">Arguments</label>
                <div id="argsmessage" ></div>
                <fieldset name="args" id="args">
                    
                </fieldset>
	</fieldset>
	</form>
    </div>

   <div id="dialog-mfile-dialog" title="Delete the file?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>

    <div id="dialog-job-dialog" title="Delete The Job?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>

</div>