
{% block script %}
<script type="text/javascript" src="/mservemedia/js/flot/jquery.flot.pie.js"></script>
{% endblock %}

{% load mservetags %}
<h3>Usage Summary</h3>

{% if user.is_staff %}
<h4>Traffic</h4>
<div id="traffic" style="width: 80%; height: 200px;margin-top: 16px;"></div>
<script type="text/javascript">

$('#tabs').bind('tabsshow', function(event, ui) {
  if (ui.panel.id == "tabs-usage") {
    $("#traffic").mserveusage('traffic' )
  }
});
$("#traffic").mserveusage('traffic' )

</script>

{% endif %}

<div id="mserveusage" style="margin-top: 30px"></div>

<script type="text/javascript">

$("#mserveusage").mserveusage('stats')

</script>

<h4>Statistics</h4>
<div id="usagecontent" >
{% if usagesummary %}
    <table class="table_usage" cellpadding="5" cellspacing="5">
        <tr><th align="left">Metric</th><th>Min</th><th>Max</th><th>Count</th><th>Average</th><th>Sum</th><th>Std. Dev</th><th>Variance</th></tr>
        {% for summary in usagesummary%}
            <tr>
                <td style="text-align: left;"><b>{{summary.metric}}</b></td>
                <td><script>document.write(number_format('{{summary.min}}', 2, '.', ','))</script></td>
                <td><script>document.write(number_format('{{summary.max}}', 2, '.', ','))</script></td>
                <td><script>document.write(number_format('{{summary.n}}', 0, '.', ','))</script></td>
                <td><script>document.write(number_format('{{summary.avg}}', 2, '.', ','))</script></td>
                <td><script>document.write(number_format('{{summary.sum}}', 2, '.', ','))</script></td>
                <td><script>document.write(number_format('{{summary.stddev}}', 2, '.', ','))</script></td>
                <td><script>document.write(number_format('{{summary.variance}}', 2, '.', ','))</script></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<h3>Historical Usage</h3>
{% if usage %}
    <table class="table_usage" cellpadding="5" cellspacing="5">
        {% for u in usage %}
            {% if u.rate == 0.0 %}
            <tr>
                <td>Usage of <a href="/browse/{{u.base.id}}">{{u.base}}</a>&nbsp;</td><td><b>{{u.metric}}</b></td><td>at <b>{{u.fmt_rtime}}</b> was<td><b>{{u.total}}</b></td>
            </tr>
             {% else%}
            <tr>
                <td>Usage of <a href="/browse/{{u.base.id}}">{{u.base}}</a>&nbsp;</td><td><b>{{u.metric}}</b></td><td>at <b>{{u.fmt_rtime}}</b> was<td><b>{{u.rate}} per second</b></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endif %}
</div>

{%block usage %}

{%endblock usage %}