
{% block script %}

{% endblock %}

{% load mservetags %}

<table style="width: 90%;table-layout: fixed">
    <tr>
        <td><div id="mservelast24" style="margin-top: 20px;"></div></td>
        <td><div id="mservelast1" style="margin-top: 20px;"></div></td>
    </tr>
</table>

<table style="width: 90%;table-layout: fixed">
    <tr>
        <td><div id="mservejobstype" style="margin-top: 20px;"></div></td>
        <td><div id="deliverySuccess" style="margin-top: 20px;"></div></td>
    </tr>
</table>

<div id="mservejobs" style="margin-top: 20px;"></div>
<div class="clr"></div>

<h3>Usage summary</h3>
<div id="usagesummary" >
</div>

<script type="text/javascript">

_loadusage = function(){
    $("#mservelast24").mserveusage('stats', ["last24"], '{{statsurl}}' )
    $("#mservelast1").mserveusage('stats', ["last1"], '{{statsurl}}' )
    $("#mservejobs").mserveusage('stats', ["jobs"], '{{statsurl}}' )
    $("#mservejobstype").mserveusage('stats', ["jobsbytype"], '{{statsurl}}' )
    $("#deliverySuccess").mserveusage('stats', ["http://mserve/deliverySuccess"], '{{statsurl}}' )
    $("#usagesummary").mserveusage('usagesummary', '{{usageurl}}' )
}

$('#tabs').bind('tabsshow', function(event, ui) {
  if (ui.panel.id == "tabs-usage") {
        _loadusage()
  }
});

var hash = window.location.hash.substring(1)
if(hash=="tabs-usage"){
    _loadusage()
}

</script>

{%block usage %}

{%endblock usage %}