<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/mservemedia/js/jquery-1.4.3.js" ></script>
    <link rel="stylesheet" href="/mservemedia/js/kaltura-html5player-widget/mwEmbed-player-static.css"></link>
    <script type="text/javascript" src="/mservemedia/js/kaltura-html5player-widget/mwEmbed-player-static.js"></script>

    <style type="text/css">
        body { margin: 0; text-align: center }
    </style>

  </head>
  <body>
      <div style="text-align: center; width: 200px;margin-left: 20%; margin-right: 20%">
            <video controls poster="{{mfile.posterurl}}" width="420" height="256">
                <source type="video/h264" src="{{mfile.proxyurl}}" ></source>
            </video>
          </div>
  </body>
</html>